@model PC2.Models.SteeringCommittee

@{
    ViewData["Title"] = "CreateSteeringCommittee";
}

<h1>Create Steering Committee Member</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSteeringCommittee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexSteeringCommittee">Back to List</a>
</div>

