@model PC2.Models.NewsletterFile

@{
    ViewData["Title"] = "Upload Newsletter";
}

<h1>@ViewData["Title"]</h1>
@{
    bool hasTempData = TempData["Message"] != null;
    
    if(hasTempData)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadNewsletter" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <input type="file" name="newsletterFile"/>
                <span class="text-danger"></span>               
            </div>
            <br />
            <div class="form-group">
                 <input type="submit" value="Create" class="btn btn-primary" /> 
            </div>
        </form>
    </div>
</div>
<br />
@{   
    string[] files = Directory.GetFiles("wwwroot/PDF/focus-newsletters"); 
    // TODO: tell user what the name will be
    // TODO: sort by most recent
    
    @foreach (string file in files)
    {
        string filename = file.Substring(file.LastIndexOf("\\") + 1);
        <a href="~/pdf/focus-newsletters/@filename">@filename</a>
        <br />
    }   
}