@model PC2.Models.NewsletterFile

@{
    ViewData["Title"] = "Upload Newsletter";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="About" asp-action="UploadNewsletter" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="file" name="newsletterFile" />
                <span class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*redirect to Resources/FocusNewsletters *@
    <br />
    <a asp-action="FocusNewsLetters" asp-controller="Resources" /> To Focus Newsletters</a>
</div>