@model PC2.Models.NewsletterFile

@{
    ViewData["Title"] = "Upload Newsletter";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadNewsletter" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <input type="file" name="newsletterFile"/>
                <span class="text-danger"></span>               
            </div>
            <br />
            <div class="form-group">
                 <input type="submit" value="Create" class="btn btn-primary" /> 
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="FocusNewsLetters" asp-controller="Resources" /> To Focus Newsletters</a>
</div>