@model IEnumerable<PC2.Models.ProgramVideo>

@section head {
    <style>
        h2 {
            text-align: center;
        }
        .player {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .video-section {
            margin-bottom: 2rem;
        }
        .pdf-link {
            display: block;
            margin-top: 0.5rem;
        }
    </style>
}

@{
    ViewData["Title"] = "Program Videos";
}
<div class="d-flex justify-content-center">
    <img src="~/images/program-videos/Filmstrip.webp" alt="Horizontal black and white filmstrip representing PC2's legal video series" width="977" height="279" />
</div>

<div>
    <h1>PC2 Legal Series</h1>
</div>

<div class="divider"></div>

@if (Model != null && Model.Any())
{
    <div id="video-list">
        @foreach (var video in Model)
        {
            <div class="video-section">
                <div class="flex-column justify-content-center">
                    <h1>@video.Title</h1>
                </div>
                <div class="player" id="player-@video.ProgramVideoId"></div>
                @if (!string.IsNullOrEmpty(video.PdfLocation))
                {
                    <a class="pdf-link" href="@video.PdfLocation" target="_blank">
                        <i class="bi bi-file-earmark-pdf"></i> @(string.IsNullOrEmpty(video.PdfName) ? "Download Handout" : video.PdfName)
                    </a>
                }
                <br />
            </div>
        }
    </div>

    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var videoIds = [
            @Html.Raw(string.Join(",\n            ", Model.Select(v => $"{{ id: {v.ProgramVideoId}, youtubeId: '{v.YouTubeVideoId}' }}")))
        ];

        function onYouTubeIframeAPIReady() {
            videoIds.forEach(function (video) {
                new YT.Player('player-' + video.id, {
                    height: '390',
                    width: '640',
                    videoId: video.youtubeId,
                    playerVars: {
                        'playsinline': 1
                    }
                });
            });
        }
    </script>
}
else
{
    <p>No videos are currently available.</p>
}
