@using PC2.Data
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PC2Online</title>
    <link rel="icon" type="image/x-icon" href="~/images/pc2_logo_icon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        @{
            string currController = ViewContext.RouteData.Values["controller"]?.ToString();
            string currAction = ViewContext.RouteData.Values["action"]?.ToString();
        }

        @* Sets menu item text for the current page to black*@
        #@currController-@currAction > a {
            color:black !important;
        }

        @* Prevents menu item background from being highlighted for the current page*@
        #@currController-@currAction {
            background-color: rgb(136, 178, 53) !important;
        }
    </style>
    @await RenderSectionAsync("Head", false)
</head>
<body id="bootstrap-override">
    <header>
        <div id="heading">
            <div id="pc2Logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/PC2-logo.jpg" alt="PC2 logo" />
                </a>
            </div>
            <div id="mainTitle">
                <h1>
                    <a class="name" asp-controller="Home" asp-action="Index">Pierce County Coalition for Developmental Disabilities (PC2)</a>
                </h1>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark border-bottom border-top box-shadow mb-3">
            <div class="container">
                <div id="menu-bar">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <div id="hamburger">
                            <span class="navbar-toggler-icon"></span>
                        </div>
                    </button>
                    <div id="menu-title">MENU</div>
                </div>
                <div id="left-ribbon" class="ribbon"></div>
                <div id="right-ribbon" class="ribbon"></div>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(IdentityHelper.Admin))
                        {
                            <li class="nav-item menu-item">
                                <a class="nav-link" asp-controller="Agency" asp-action="Index">Agencies</a>
                            </li>
                            <li id="Calendar-Index" class="nav-item menu-item dropdown" >
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon d-none"></span>
                                </button>
                                <div class="" id="navbarNavDarkDropdown">
                                    <ul class="navbar-nav priority">
                                        <li class="nav-item dropdown menu-item">
                                            <p class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Calendar and Events
                                            </p>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" asp-controller="Calendar" asp-action="Index">Calendar</a></li>
                                                <li><a class="dropdown-item" asp-controller="Calendar" asp-action="Create">Create Event</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item menu-item dropdown" >
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon d-none"></span>
                                </button>
                                <div class="" id="navbarNavDarkDropdown">
                                    <ul class="navbar-nav priority">
                                        <li class="nav-item dropdown menu-item">
                                            <p class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Members
                                            </p>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" asp-controller="About" asp-action="IndexStaff">View Staff</a></li>
                                                <li><a class="dropdown-item" asp-controller="About" asp-action="CreateStaff">Create Staff Member</a></li>
                                                <li><a class="dropdown-item" asp-controller="About" asp-action="IndexBoard">View Board</a></li>
                                                <li><a class="dropdown-item" asp-controller="About" asp-action="CreateBoard">Create Board Member</a></li>
                                                <li><a class="dropdown-item" asp-controller="About" asp-action="IndexSteeringCommittee">View Steering Committee</a></li>
                                                <li><a class="dropdown-item" asp-controller="About" asp-action="CreateSteeringCommittee">Create Steering Committee Member</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li id="Home-Index" class="nav-item menu-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link" asp-controller="ProgramVideos" asp-action="Index">PROGRAM VIDEOS</a>
                        </li>
                        <li id="NewsToKnow-Index" class="nav-item menu-item">
                            <a class="nav-link" asp-area="" asp-controller="NewsToKnow" asp-action="Index">NEWS TO KNOW</a>
                        </li>
                        <li id="Events-Index" class="nav-item menu-item dropdown">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon d-none"></span>
                            </button>
                            <div class="" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav priority">
                                    <li class="nav-item dropdown menu-item">
                                        <p class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        EVENTS
                                        </p>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="EventsAndActivities">PC2 Events and Activities</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Event Photos</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="CountyWideEventsAndActivities">County-wide Events and Activities</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>            
                        </li>
                        <li id="Resources-Index" class="nav-item menu-item dropdown">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon d-none"></span>
                            </button>
                            <div class="" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav priority">
                                    <li class="nav-item dropdown menu-item">
                                        <p class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        RESOURCES
                                        </p>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="Index">Resources</a></li>
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="ResourceGuide">Resource Guide</a></li>
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="FocusNewsletters">Focus News Letters</a></li>
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="DisabilityAwareness">Disability Awareness</a></li>
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="ResourceLinks">Resource Links</a></li>
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="AgeSpecificIssues">Age-Specific Issues</a></li>
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="LegislativeLinksAndEvents">Legislative Links &amp; Events</a></li>
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="EmergencyPreparedness">Emergency Preparedness</a></li>
                                            <li><a class="dropdown-item" asp-controller="Resources" asp-action="VirtualCloset">Virtual Closet</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">PC2's HOUSING PROGRAM</a>
                        </li>
                        <li id="about-menu" class="nav-item menu-item dropdown">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon d-none"></span>
                                </button>
                                <div class="" id="navbarNavDarkDropdown">
                                    <ul class="navbar-nav priority">
                                        <li class="nav-item dropdown menu-item">
                                            <p class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            ABOUT US
                                            </p>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Contact Us</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                        </li>
                        }   
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-column">
            <div class="footer-item" id="footer-phone">
                <p>253.564.0707</p>
                <p>877-DD-LINKS</p>
            </div>

            <div class="footer-item" id="footer-address">
                <p>3716 Pacific Ave, STE A</p>
                <p>Tacoma, WA 98418</p>
            </div>
        </div>
        <div class="footer-column">
            <div class="footer-item" id="footer-copyright">
                <p>&copy; @DateTime.Now.Year by PC2 for DD</p>
            </div>
            <div class="footer-item" id="footer-social-media">
                <a href="https://twitter.com/PC24DD" target="_blank">
                    <img src="~/images/twitter-logo.jpg" alt="twitter logo" />
                </a>
                <a href="https://www.facebook.com/PCCDD" target="_blank">
                    <img src="~/images/facebook-logo.jpg" alt="facebook logo" />
                </a>
            </div>
        </div>
        <div class="footer-item" id="login">
            <partial name="_LoginPartial" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ExternalLinkTab.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>