@using PC2.Data
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PC2Online</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        @{
            string currController = ViewContext.RouteData.Values["controller"]?.ToString();
            string currAction = ViewContext.RouteData.Values["action"]?.ToString();
        }

        @* Sets menu item text for the current page to black*@
        #@currController-@currAction > a {
            color:black !important;
        }

        @* Prevents menu item background from being highlighted for the current page*@
        #@currController-@currAction {
            background-color: rgb(136, 178, 53) !important;
        }
    </style>
    @await RenderSectionAsync("Head", false)
</head>
<body id="bootstrap-override">
    <header>
        <div id="heading">
            <div id="pc2Logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/PC2-logo.jpg" alt="PC2 logo" />
                </a>
            </div>
            <div id="mainTitle">
                <h1>
                    <a asp-controller="Home" asp-action="Index">Pierce County Coalition for Developmental Disabilities (PC2)</a>
                </h1>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark border-bottom border-top box-shadow mb-3">
            <div class="container">
                <div id="menu-bar">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <div id="hamburger">
                            <span class="navbar-toggler-icon"></span>
                        </div>
                    </button>
                    <div id="menu-title">MENU</div>
                </div>
                <div id="left-ribbon" class="ribbon"></div>
                <div id="right-ribbon" class="ribbon"></div>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(IdentityHelper.Admin))
                        {
                            <li class="nav-item menu-item">
                                <a class="nav-link" asp-controller="Agency" asp-action="Index">Agencies</a>
                            </li>
                            <li id="Calendar-Index" class="nav-item menu-item dropdown" >
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Calendar" asp-action="Index">Calendar</a>
                                <div id="calendar-submenu" class="submenu-container">
                                    <ul class="submenu dropdown-menu">
                                        <li id="Calendar-Create" class="nav-item submenu-item">
                                            <a class="nav-link" asp-area="" asp-controller="Calendar" asp-action="Create">Create Events</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li id="Home-Index" class="nav-item menu-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li id="NewsToKnow-Index" class="nav-item menu-item">
                            <a class="nav-link" asp-area="" asp-controller="NewsToKnow" asp-action="Index">NEWS TO KNOW</a>
                        </li>
                        <li id="Events-Index" class="nav-item menu-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Events" asp-action="Index">EVENTS</a>
                            <div id="event-submenu" class="submenu-container">
                                <ul class="submenu dropdown-menu">
                                    <li id="Events-EventsAndActivities" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Events" asp-action="EventsAndActivities">PC2 Events and Activities</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Event Photos</a>
                                    </li>
                                    <li id="Events-CountyWideEventsAndActivities" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Events" asp-action="CountyWideEventsAndActivities">County-wide Events and Activities</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="Resources-Index" class="nav-item menu-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Resources" asp-action="Index">RESOURCES</a>
                            <div id="resources-submenu" class="submenu-container">
                                <ul class="submenu dropdown-menu">
                                    <li id="Resources-ResourceGuide" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="ResourceGuide">Resource Guide</a>
                                    </li>
                                    <li id="Resources-FocusNewsletters" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="FocusNewsletters">Focus Newsletters</a>
                                    </li>
                                    <li id="Resources-DisabilityAwareness" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="DisabilityAwareness">Disability Awareness</a>
                                    </li>
                                    <li id="Resources-ResourceLinks" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="ResourceLinks">Resource Links</a>
                                    </li>
                                    <li id="Resources-AgeSpecificIssues" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="AgeSpecificIssues">Age-Specific Issues</a>
                                    </li>
                                    <li id="Resources-LegislativeLinksAndEvents" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="LegislativeLinksAndEvents">Legislative Links &amp; Events</a>
                                    </li>
                                    <li id="Resources-EmergencyPreparedness" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="EmergencyPreparedness">Emergency Preparedness</a>
                                    </li>
                                    <li id="Resources-VirtualCloset" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="VirtualCloset">Virtual Closet</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">PC2's HOUSING PROGRAM</a>
                        </li>
                        <li id="about-menu" class="nav-item menu-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="About">ABOUT US</a>
                            <div id="about-submenu" class="submenu-container">
                                <ul class="submenu dropdown-menu">
                                    <li id="about-item" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                                    </li>
                                    <li id="contact-item" class="nav-item submenu-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Contact Us</a>
                                    </li>
                                    </ul>
                            </div>
                        </li>
                        }   
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-column">
            <div class="footer-item" id="footer-phone">
                <p>253.564.0707</p>
                <p>877-DD-LINKS</p>
            </div>

            <div class="footer-item" id="footer-address">
                <p>3716 Pacific Ave, STE A</p>
                <p>Tacoma, WA 98418</p>
            </div>
        </div>
        <div class="footer-column">
            <div class="footer-item" id="footer-copyright">
                <p>&copy; @DateTime.Now.Year by PC2 for DD</p>
            </div>
            <div class="footer-item" id="footer-social-media">
                <a href="https://twitter.com/PC24DD" target="_blank">
                    <img src="~/images/twitter-logo.jpg" alt="twitter logo" />
                </a>
                <a href="https://www.facebook.com/PCCDD" target="_blank">
                    <img src="~/images/facebook-logo.jpg" alt="facebook logo" />
                </a>
            </div>
        </div>
        <div class="footer-item" id="login">
            <partial name="_LoginPartial" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>