@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="footer-item">
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </p>
    <p>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </p>
}
else
{
    <p>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </p>
}
</div>
