@section head {
    <style>
        a {
            color: black;
        }
        h1 {
            text-align: center;
        }
        li {
            padding-bottom: 1em;
        }
    </style>
}
@{
    ViewData["Title"] = "Age-Specific Issues";
}

<div class="d-flex justify-content-center">
    <img src="~/images/age-specific-issues/issues1.jpg" />
    <img src="~/images/age-specific-issues/issues2.jpg" />
    <img src="~/images/age-specific-issues/issues3.jpg" />
    <img src="~/images/age-specific-issues/issues4.jpg" />
</div>

<br />
<h1>AGE-SPECIFIC ISSUES</h1>

<div class="divider"></div>
<br />
<div>
    <p>Informing Families/Building Trust has highlighted some great age-specific resources on their site. </p>
    <br />
    <p>Please visit the <a href="https://informingfamilies.org/">IFBT website</a> for age ranges:</p>
    <br />
    <ul>
        <li>Birth-3 (planning ahead, resources, advocacy and support),</li>
        <li>Ages 3-6 (planning ahead, resources),</li>
        <li>Ages 6-14 (planning ahead, resources, transition planning checklist, your child's IEP and you, services, education, advocacy, transitions),</li>
        <li>Ages 14-21 (planning ahead, resources, transition planning checklist, employment, post-secondary education and vocational training, state skills centers, high school transition programs, DVR/DDA/employment services, transition timeline),</li>
        <li>Ages 21-40 (resources), and</li>
        <li>Age 40 and over (resources).</li>
    </ul>
</div>