@{
    ViewData["Title"] = "Disability Awareness";
}

<div class="d-flex justify-content-center">
    <img src="~/images/resource-disabilityAwareness/da-Image1.webp" alt=""/>
    <img src="~/images/resource-disabilityAwareness/da-Image2.webp" alt=""/>
    <img src="~/images/resource-disabilityAwareness/da-Image3.webp" alt=""/>
    <img src="~/images/resource-disabilityAwareness/da-Image4.webp" alt=""/>
</div>
<br />
<h1>@ViewData["Title"]</h1>

<div class="divider"></div>

<div>
    <p class="text-center">Click the links below to access our disability awareness info sheets.</p>
    <br />

    <div class="row justify-content-center">
        <div class="col-4">
            <ul>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/adjdisorder.pdf">Adjustment Disorder</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Aicardisyndrome.PDF">Aicardi Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/alexanderdisease.PDF">Alexander Disease</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/alpersdisease.PDF">Alper's Disease</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/AngelmanSyndrome.PDF">Angelman Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Aspergers Syndrome (2009).pdf">Asperger's Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Ataxia.PDF">Ataxia</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/ATR-XSyndrome.pdf">ATR-X Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Autism111204.pdf">Autism</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/CP, 2010.pdf">Cerebral Palsy</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/CerebroOculoFacioSkeletalSyndrome.pdf">Cerebro-Oculo-Facio-Skeletal Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/ChargeSyndrome.pdf">Charge Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/childbipolardisorder.pdf">Child Bipolar Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/ChromosomeDisorders.pdf">Chromosome Disorders</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/coffinlowry.PDF">Coffin-Lowry Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Colpocephaly DA.pdf">Colpocephaly</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Cri Du Chat Syndrome.pdf">Cri Du Chat Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/CDC-DD.pdf">Developmental Disability (CDC)</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/DiGeorge Syndrome.pdf">DiGeorge Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Down syndrome (09).pdf">Down Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Dyslexia.pdf">Dyslexia</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/EmotionalDisturbance.pdf">Emotional Disturbance</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/ENCEPHALOCELE.pdf">Encephalocele</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Epilepsy 2010 DA.pdf">Epilepsy</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/FetalAlcoholSyndrome.pdf">Fetal Alcohol Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/FragileXSyndrome.pdf">Fragile X Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Freeman Sheldon Syndrome.pdf">Freeman-Sheldon Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/HallervordenSpatzDisease.pdf">Hallervorden-Spatz Disease</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/HearingImpairments.pdf">Hearing Impairments</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Holoprosencephaly.pdf">Holoprosencephaly</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/HYDROCEPHALUS.pdf">Hydrocephalus</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/IncontinentiaPigmenti.pdf">Incontinentia Pigmenti</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Intellectual Disability.pdf">Intellectual Disability</a></li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/joubertsyndrome.PDF">Joubert Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Kernicterus.PDF">Kernicterus</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/KrabbeDisease.PDF">Krabbe Disease</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Landau-Kleffner Syndrome.pdf">Landau-Kleffner Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/DA - LESCH NYHAN SYNDROME.pdf">Lesch Nyhan Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/LoweSyndrome.pdf">Lowe Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/DA - Griefing.pdf">Managing Grief</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/MSDDDISAWARENESS.PDF">Multisystem Developmental Disorder (MSDD)</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/NoonanSyndrome.pdf">Noonan Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/NutritionandDiet.pdf">Nutrition & Diet</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/OppositionalDefiantDisorder.pdf">Oppositional Defiant Disorder</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/PEDSLEEPDISORDERS.PDF">Pediatric Sleep Disorders</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/PervasiveDevelopmentalDisorder.pdf">Pervasive Developmental Disorder</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Phenylketonuria (PKU).pdf">Phenylketonuria (PKU)</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Pica.pdf">Pica</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/POTOCKI-LUPSKI SYNDROME.pdf">Potocki-Lupski Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/PraderWilliSyndrome.pdf">Prader-Willi Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/rettsyndrome.PDF">Rett Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Robinow Syndrome.pdf">Robinow Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/SensoryIntegrationDysfunction.pdf">Sensory Integration Dysfunction</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/sensoryprocessingdisorder.PDF">Sensory Processing Disorder</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/SevereCommunicationImpairment.PDF">Severe Communication Impairment</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/SotosSyndrome.PDF">Sotos Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/SpinaBifida.pdf">Spina Bifida</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/TaySachsDisease.pdf">Tay-Sachs Disease</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/TouretteSyndrome.pdf">Tourettes Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/TraumaticBrainInjuries.pdf">Traumatic Brain Injury</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Tuberous Sclerosis Complex DA.pdf">Tuberous Sclerosis Complex</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/VELO-CARDIO-FACIAL SYNDROME.pdf">Velo-Cardio-Facial Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/VisualImpairments.pdf">Visual Impairments</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/WAGRSyndrome.PDF">WAGR Syndrome</a></li>
                <li><a target="_blank" href="~/PDF/DisabilityAwareness/Williams Syndrome.pdf">Williams Syndrome</a></li>
            </ul>
        </div>
    </div>
</div>