@{
    ViewData["Title"] = "Disability Awareness";
}

<div class="d-flex justify-content-center">
    <img src="~/images/resource-disabilityAwareness/da-Image1.webp" />
    <img src="~/images/resource-disabilityAwareness/da-Image2.webp" />
    <img src="~/images/resource-disabilityAwareness/da-Image3.webp" />
    <img src="~/images/resource-disabilityAwareness/da-Image4.webp" />
</div>
<br />
<h1>DISABILITY AWARENESS INFO SHEETS</h1>

<div class="divider"></div>

<div>
    <p class="text-center">Click the links below to access our disability awareness info sheets.</p>
    <br />

    <div class="row justify-content-center">
        <div class="col-4">
            <ul>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_e0449ce2b0ba4d3181fe1c10af825085.pdf">Adjustment Disorder</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_529f71945d2441a583d2ce04ee2b771d.pdf">Aicardi Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_4f7896098fb24e2f97d019a884488786.pdf">Alexander Disease</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_2d6f3e2765014b85a3595c36886232be.pdf">Alper's Disease</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_8e66d452ead0461a9622fed29605a5bb.pdf">Angelman Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_775728b7c9ca4f0da9f023739e111363.pdf">Asperger's Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_95c90cf6543242ae9eab197d18eef913.pdf">Ataxia</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_b3718d7899db453f996d561554ed4815.pdf">ATR-X Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_29801297d70843519685d626e4ab9948.pdf">Autism</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_25ec31c2fc3146979c3bd48d3a524094.pdf">Cerebral Palsy</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_75904bcb0d27400fac48fe905350cff1.pdf">Cerebro-Oculo-Facio-Skeletal Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_99faefee133644cdbcde413a4ccf79fb.pdf">Charge Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_f49813e6130e4aecb3fdb06b5d56138d.pdf">Child Bipolar Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_cbb742c209fe4127bc866d762773d9f1.pdf">Chromosome Disorders</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_ba7083cd74704aa9843381c1131c151c.pdf">Coffin-Lowry Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_6f0614636e5b4694b7bbf5a5180b3027.pdf">Colpocephaly</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_91d1c52785e34e63a4ab0a12f443f6c0.pdf">Cri Du Chat Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_21134c33bb8d4c08ae84df885af5b7a1.pdf">Developmental Disability (CDC)</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_10c1b2bb5bb84205bd93bff03e6053c7.pdf">DiGeorge Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_7e576f5688fe4a34a59987777034e616.pdf">Down Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_b9d5499eed30434b9a471a77ad96624a.pdf">Dyslexia</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_af99f4d6d9f3476dbd799e255cacfce7.pdf">Emotional Disturbance</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_deab1ea170b14d0a9be0650d7b7158cd.pdf">Encephalocele</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_132bf5a156f84cf38114d8dac5be8321.pdf">Epilepsy</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_8a212ada9d364fd9b902a8c5d05d4891.pdf">Fetal Alcohol Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_97d9a019df074e34a6a75271af12c297.pdf">Fragile X Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_52d434a17c244b56afe5ea2a7190c530.pdf">Freeman-Sheldon Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_3e4001ce3a5541a28aef304ab86b210a.pdf">Hallervorden-Spatz Disease</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_5f9a8530675140cda8a69ac5527d3b51.pdf">Hearing Impairments</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_d1bac8b6a6b8476cb6f108a8f53e450c.pdf">Holoprosencephaly</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_7a6d1851e7d74f4596b393ab712cb18e.pdf">Hydrocephalus</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_99153f901c824314a85a967d4e1fcf16.pdf">Incontinentia Pigmenti</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_9665f09376bb46058671b98727c59dad.pdf">Intellectual Disability</a></li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_b6500926d9904782abcd44f23a619ee5.pdf">Joubert Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_a3a0bef209f745c9ba86e035f8e5a05b.pdf">Kernicterus</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_03a2c2a26df44a0ca3b8a6ad2fa15c23.pdf">Krabbe Disease</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_d6e7a448d7e843cc8493538d5fab6167.pdf">Landau-Kleffner Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_8da8576227a643c5b7f714065b70d3dd.pdf">Lesch Nyhan Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_886473508a0f4fe99a988c8a67f8eaad.pdf">Lowe Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_c7814c096aec43b5ba6d3b2b2caca3a4.pdf">Managing Grief</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_aca20545fb474c1c92c0121955044d53.pdf">Multisystem Developmental Disorder (MSDD)</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_fd21eb42d3b54d329d3e652014823edb.pdf">Noonan Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_43552a48812d491d98d929fa5938767c.pdf">Nutrition & Diet</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_40fe4f425c4b45bcb3a41906634b98b8.pdf">Oppositional Defiant Disorder</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_6e114f79aec34986b0a8e624172f855c.pdf">Pediatric Sleep Disorders</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_4069da98176c46f3883782627f335ffb.pdf">Pervasive Developmental Disorder</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_39b205cb539944d2aac4ba03607ef868.pdf">Phenylketonuria (PKU)</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_e495b44276d14e1b96fce0a36a0b397d.pdf">Pica</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_7e647447fc074de2bd6d56d574dea234.pdf">Potocki-Lupski Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_d5b6673f95fe4f4cbe56461c7aed3ace.pdf">Prader-Willi Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_f28f8759ba044fb8943583c91711a0e5.pdf">Rett Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_f7137b04b7234068989815843155185e.pdf">Robinow Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_b7015c178fd94e29af5e15a95f677524.pdf">Sensory Integration Dysfunction</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_8d75f507d31d45908e98b866563e45cd.pdf">Sensory Processing Disorder</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_a69b646ec7a14330952ddf0124f89708.pdf">Severe Communication Impairment</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_df18c8312ef0480b9bb0adf014a7adc9.pdf">Sotos Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_5ea22e78915c442389fce33e01cbb41c.pdf">Spina Bifida</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_785522bf2719482dbf1a074f92e78e79.pdf">Tay-Sachs Disease</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_cbb72101f7614152b8a191e4696f7e12.pdf">Tourettes Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_cc24b567cfdf49dd9cce7cd289f8c423.pdf">Traumatic Brain Injury</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_24dd7abba5874824bf7e87f9ebc0c17d.pdf">Tuberous Sclerosis Complex</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_ba949f34e72a47e2912cec7e828a042f.pdf">Velo-Cardio-Facial Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_ebf9b8999e1443b59df4173fd21f7d63.pdf">Visual Impairments</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_b362600c17b540488931fa5b79775bb6.pdf">WAGR Syndrome</a></li>
                <li><a href="https://www.pc2online.org/_files/ugd/301cbf_4630217237b248ba8594b18ff32beda3.pdf">Williams Syndrome</a></li>
            </ul>
        </div>
    </div>
</div>