@section head {

}

@{
    ViewData["Title"] = "Emergency Preparedness";
}

<div class="d-flex justify-content-center">
    <img src="~/images/resource-emergency/emergency1.jpg" />
    <img src="~/images/resource-emergency/emergency2.jpg" />
    <img src="~/images/resource-emergency/emergency3.jpg" />
    <img src="~/images/resource-emergency/emergency4.jpg" />
</div>
<br />
<h1>@ViewData["Title"]</h1>

<div class="divider"></div>

<div>
    <p>PC2 will update this page with emergency information, as we receive it from Pierce County Department of Emergency Management. </p>
    <br />
    <p>You can visit their website anytime at:  <a href="https://www.co.pierce.wa.us/104/Emergency-Management" target="_blank">https://www.co.pierce.wa.us/104/Emergency-Management</a> </p>
    <br />
    <br />
    <p>Below are links to some valuable resources and checklists to prepare your family in the event of an emergency:</p>
    <br />
    &emsp;<a href="https://www.redfin.com/blog/disaster-safety-for-people-with-disabilities" target="_blank">Disaster Safety for People with Disabilities: What to Do When Emergency Weather Strikes</a>
    <br />
    <br />
    &emsp;<a href="https://www.redcross.org/images/MEDIA_CustomProductCatalog/m4640086_Disaster_Preparedness_for_Srs-English.revised_7-09.pdf" target="_blank">Disaster Preparedness For Seniors By Seniors</a>
    <br />
    <br />
    &emsp;<a href="https://www.getreadyforflu.org/facts/DrivingDisastersWeb.pdf" target="_blank">Safe travels: Disaster preparedness on the road</a>
    <br />
    <br />
    &emsp;<a href="https://www.fema.gov/media-library-data/0e3ef555f66e22ab832e284f826c2e9e/FEMA_plan_parent_508_071513.pdf" target="_blank">Family Communication Plan for Parents</a>
    <br />
    <br />
    &emsp;<a href="https://adata.org/sites/adata.org/files/files/ADANN_Emergency_Power_planning-2016%20_%20final(1).pdf" target="_blank">Emergency Power Planning for People Who Use Electricity and Battery-Dependent Assistive Technology</a>
    <br />
    <br />
    &emsp;<a href="https://www.archives-pmr.org/article/S0003-9993(11)00833-1/pdf" target="_blank">Emergency Preparedness for People With Disabilities — Guide and Checklist​</a>
</div>