@model IEnumerable<PC2.Models.NewsletterFile>
@section head {
}
@{
    ViewData["Title"] = "PC2 Focus Newsletters";
}

<div class="d-flex justify-content-center">
    <img src="~/images/resource-newsletters/newsletter1.jpg" />
    <img src="~/images/resource-newsletters/newsletter2.jpg" />
    <img src="~/images/resource-newsletters/newsletter3.jpg" />
    <img src="~/images/resource-newsletters/newsletter4.jpg" />
</div>
<br />
<h1>@ViewData["Title"]</h1>
<div class="divider"></div>
<br />
<p>PC2 publishes our "Focus" newsletter four times per year.  All issues are available by visiting this page and clicking the links below.</p>
<br />
<p>If you'd like to get an email reminder when new issues are available, please send us a message at <a href="mailto:info@pc2online.org">info@pc2online.org</a>. </p>
<br />
<br />

@for (int i = Model.Count() - 1; i >= 0; i--)
{
    <p>@Model.ElementAt(i).Name - <a href="@Model.ElementAt(i).Location" target="_blank"> click here </a> for printable pdf </p>
}