<style>
    .resource-links > a {
        text-align: center;
        font-weight: bold;
        color: black !Important;
    }

    .resource-links, .main-header {
        text-align: center;
    }
</style>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="headerPic d-flex justify-content-center" >
        <img src="~/images/resource-index/image1.jpg" />
        <img src="~/images/resource-index/image2.jpg" />
        <img src="~/images/resource-index/image3.jpg" />
        <img src="~/images/resource-index/image4.jpg" />
        <img src="~/images/resource-index/image5.jpg" />
    </div>
</div>
<br />
<h1 class="main-header">RESOURCES</h1>

<div class="divider"></div>

<div class="resource-links">
    <br />
    <a asp-controller="Resources" asp-action="ResourceGuide">Click here to access our Pierce County Resource Guide.</a>
    <br />
    <br />
    <a asp-controller="Resources" asp-action="FocusNewsletters">Click here to access our PC2 Focus Newsletters.</a>
    <br />
    <br />
    <a asp-controller="Resources" asp-action="DisabilityAwareness">Click here to access our Disability Awareness Info Sheets.</a>
    <br />
    <br />
    <a asp-controller="Resources" asp-action="ResourceLinks">Click here to acces Resource Links.</a>
    <br />
    <br />
    <a asp-controller="Resources" asp-action="AgeSpecificIssues">Click here to access Age-Specific Issue Links.</a>
    <br />
    <br />
    <a asp-controller="Resources" asp-action="LegislativeLinksAndEvents">Click here to access Legislative Advocacy Links.</a>
    <br />
    <br />
    <a asp-controller="Resources" asp-action="EmergencyPreparedness">Click here to access Emergency Preparedness.</a>
    <br />
    <br />
    <a asp-controller="Resources" asp-action="VirtualCloset">Click here to access information about PC2's Virtual Closet.</a>
</div>