@section Head {
}

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="headerPic d-flex justify-content-center" >
        <img src="~/images/resource-index/image1.jpg" />
        <img src="~/images/resource-index/image2.jpg" />
        <img src="~/images/resource-index/image3.jpg" />
        <img src="~/images/resource-index/image4.jpg" />
        <img src="~/images/resource-index/image5.jpg" />
    </div>
</div>
<br />
<h1>RESOURCES</h1>

<div class="divider"></div>
<div class="row justify-content-center">
    <div class="col-4">
        <ul> 
            <li><a asp-controller="Resources" asp-action="ResourceGuide">Click here</a> to access our Pierce County Resource Guide.</li>
            <li><a asp-controller="Resources" asp-action="FocusNewsletters">Click here</a> to access our PC2 Focus Newsletters.</li>
            <li><a asp-controller="Resources" asp-action="DisabilityAwareness">Click here</a> to access our Disability Awareness Info Sheets.</li>
            <li><a asp-controller="Resources" asp-action="ResourceLinks">Click here</a> to acces Resource Links.</li>
        </ul>
    </div>
    <div class="col-4">
        <ul>
            <li><a asp-controller="Resources" asp-action="AgeSpecificIssues">Click here</a> to access Age-Specific Issue Links.</li>
            <li><a asp-controller="Resources" asp-action="LegislativeLinksAndEvents">Click here</a> to access Legislative Advocacy Links.</li>
            <li><a asp-controller="Resources" asp-action="EmergencyPreparedness">Click here</a> to access Emergency Preparedness.</li>
            <li><a asp-controller="Resources" asp-action="VirtualCloset">Click here</a> to access information about PC2's Virtual Closet.</li>
        </ul>
    </div>
</div>