@section head {
    <style>
        .registration-date, .pdf-link, .links {
            text-align: center;
        }
    </style>
}

@{
    ViewData["Title"] = "Legislative Links and Events";
}

<div class="d-flex justify-content-center">
    <img src="~/images/legislative-links/legislative1.jpg" />
    <img src="~/images/legislative-links/legislative2.jpg" />
    <img src="~/images/legislative-links/legislative3.jpg" />
    <img src="~/images/legislative-links/legislative4.jpg" />
    <img src="~/images/legislative-links/legislative5.jpg" />
</div>
<br />
<h1>@ViewData["Title"]</h1>

<div class="divider"></div>

<div class="d-flex justify-content-center">
    <img src="~/images/legislative-links/legislatorsPage2022.jpg" />
</div>
<br />

<div class="pdf-link">
    <p><a href="~/PDF/legislative-links/legislatorsPage2022.pdf" target="_blank">Click Here</a> for a pdf of the contact sheet.</p>
    <br />
</div>
<br />
<div>
    <p>Like to be added to PC2's Legislative Listserv?  Send an email to <a href="mailto:info@pc2online.org">info@pc2online.org</a> with your name and email address.</p>
    <br />
    <p>Do you know how to contact your District Legislators?  <a href="~/PDF/legislative-links/2021-Legislature.pdf" target="_blank">Click here</a> for a handy guide!</p>
    <br />
    <p>What are the bills of interest relevant to individuals with developmental disabilities?  To look up the complete text of bills or bill reports, go to <a href="https://www.leg.wa.gov/legislature" target="_blank">www.leg.wa.gov/legislature</a> and click on "Bill Information."</p>
</div>

<br />
<br />
<br />

<div class="links">
    <h2>Legislative Links:</h2>
    <br />
    <a href="https://www.governor.wa.gov/">Washington Govenor</a>
    <br />
    <br />
    <a href="https://leg.wa.gov/">Washington State Legislature</a>
    <br />
    <br />
    <a href="https://app.leg.wa.gov/DistrictFinder/">Find Your District</a>
    <br />
    <br />
    <a href="https://www.whitehouse.gov/">President of the United States</a>
    <br />
    <br />
    <a href="https://www.senate.gov/index.htm">U.S. Senate</a>
    <br />
    <br />
    <a href="https://www.house.gov/">U.S. House of Representatives</a>
    <br />
    <br />
    <br />
    <h2>Legislative Information Links:</h2>
    <br />
    <a href="https://www.disabilityrightswa.org/">Disability Rights Washington</a>
    <br />
    <br />
    <a href="https://arcwa.org/">Arc of Washington State</a>
    <br />
    <a href="https://arcwa.org/takeaction/washingtonstate/advocacy_day">Advocacy Day Schedule</a>
    <br />
    <br />
    <p>Governor's Committee on Disability Issues and Employment</p>
    <a href="tel:3604383168">360.438.3168</a>
    <p><a href="tel:3604383167">360.438.3167</a> (tty)</p>
</div>