@section head {

}

@{
    ViewData["Title"] = "Resource Links";
}

<div class="d-flex justify-content-center">
    <img src="~/images/resource-links/links1.jpg" />
    <img src="~/images/resource-links/links2.jpg" />
    <img src="~/images/resource-links/links3.jpg" />
    <img src="~/images/resource-links/links4.jpg" />
</div>
<br />
<h1>RESOURCE LINKS</h1>

<div class="divider"></div>

<p class="text-center">Please click on the links below to access the Internet resource listed:</p>
<br />
<div class="row justify-content-center">
    <div class="col-4">
        <ul>
            <li><a href="https://www.washington.edu/doit/programs">Academic Accommodation Resources</a></li>
            <li><a href="https://www.add.org">ADD Association</a></li>
            <li><a href="https://www.thearc.org">Arc of the United States</a></li>
            <li><a href="https://www.arcwa.org">Arc of Washington</a></li>
            <li><a href="https://www.nationalautismcenter.org/resources/for-families/">Autism Resources for Families</a></li>
            <li><a href="https://www.autism-society.org">Autism Society of America</a></li>
            <li><a href="https://www.autismsocietyofwa.org">Autism Society of Washington</a></li>
            <li><a href="https://www.benefitscheckup.org/">Benefits CheckUp</a></li>
            <li><a href="https://www.cdc.gov/ncbddd/autism/links.html">CDC Autism Links & Resources</a></li>
            <li><a href="https://www.parentcenterhub.org/">Center for Parent Information and Resources</a></li>
            <li><a href="https://www.childrensdefense.org">Children's Defense Fund</a></li>
            <li><a href="https://online.maryville.edu/disabilities-guide/">College for Students with Disabilities: A Guide for Students, Families, and Educators</a></li>
            <li><a href="https://informingfamilies.org/locator">Community Guide/Community Engagement Locator Map</a></li>
            <li><a href="https://www.c-c-d.org">Consortium for Citizens with Disabilities</a></li>
            <li><a href="https://www.dshs.wa.gov/dd">Developmental Disabilities Administration</a></li>
            <li><a href="https://teach.com/online-ed/psychology-degrees/online-masters-applied-behavior-analysis/aba-digital-autism-resources/">Digital Resources for Students with Autism</a></li>
            <li><a href="https://www.disabilityrightswa.org">Disability Rights Washington</a></li>
            <li><a href="https://www.easterseals.com/">Easter Seals of Washington</a></li>
            <li><a href="https://www.epilepsy.com/">Epilepsy Foundation of America</a></li>
            <li><a href="https://www.justgreatlawyers.com/estate-planning-for-parents-of-children-with-autism">Estate Planning for Parents of Kids with Autism</a></li>
            <li><a href="https://www.featwa.org/">Families for Effective Autism Treatment (FEAT) of Washington</a></li>
            <li><a href="https://www.familyvoices.org">Family Voices</a></li>
            <li><a href="https://www.fcsn.org">Federation for Children with Special Needs</a></li>
            <li><a href="https://www.fragilex.org ">Fragile X Foundation</a></li>
            <li><a href="https://www.gladnet.org">Gladnet</a></li>
            <li><a href="https://www.inclusion.com">Inclusion Press</a></li>
            <li><a href="https://www.informingfamilies.org/">Informing Families</a></li>
            <li><a href="https://www.communityinclusion.org">Institute on Community Inclusion</a></li>
            <li><a href="https://www.ici.umn.edu/">Institute on Community Integration</a></li>
            <li><a href="https://www.dimenet.com/disculture">Institute on Disability Culture</a></li>
            <li><a href="https://www.independentliving.org">Institute on Independent Living</a></li>
            <li><a href="https://www.knowledgeinitiative.org/planner ">Interactive Planner for Caregivers</a></li>
            <li><a href="https://www.icdri.org">International Center for Disability Resources</a></li>
            <li><a href="https://www.kidstogether.org">Kids Together</a></li>
            <li><a href="https://www.ldawa.org">Learning Disabilities Association of Washington</a></li>
            <li><a href="https://medicare.com">Medicare Resources</a><p>Operated by eHealthinsurance, serving more than 3 million customers since 2013. Partnerships with numerous Medicare insurance companies, and offering more than 5000 Medicare insurance plans online.</p></li>
        </ul>
    </div>
    <div class="col-4">
        <ul>
            <li><a href="https://mylifeplan.guide/guide/">My Life Plan - self-directed questionnaire for every stage of life</a></li>
            <li><a href="https://www.ncld.org">National Center for Learning Disabilities</a></li>
            <li><a href="https://www.ncd.gov">National Council on Disability</a></li>
            <li><a href="https://www.ndss.org">National Down Syndrome Society</a></li>
            <li><a href="https://www.nod.org">National Organization on Disability</a></li>
            <li><a href="https://www.naric.com">National Rehabilitation Information Center (NARIC)</a></li>
            <li><a href="https://www.newmobility.com">New Mobility Magazine</a></li>
            <li><a href="https://www.nursinghomeabuse.org/nursing-home-abuse/">Nursing Home Abuse</a></li>
            <li><a href="https://www.operationautismonline.org">Operation Autism for Military Families</a></li>
            <li><a href="https://www.pacer.org/">Parent Advocacy Coalition for Education Rights Center (PACER)</a></li>
            <li><a href="https://www.peoplefirstofwashington.org/">People First of Washington</a></li>
            <li><a href="https://www.co.pierce.wa.us/1986/Aging-Disability-Resources">Pierce County Aging & Disability Resources</a></li>
            <li><a href="https://www.co.pierce.wa.us/4755/Developmental-Disabilities">Pierce County Human Services, DD</a></li>
            <li><a href="https://www.retailmenot.com/blog/sensory-overload-while-shopping.html">Reduce the Noise: Help Loved Ones with Sensory Overload Enjoy Shopping</a></li>
            <li><a href="https://www.sailcoalition.org/">Self Advocates in Leadership (SAIL)</a></li>
            <li><a href="https://autism.sesamestreet.org/">Sesame Street Autism Resources for Parents</a></li>
            <li><a href="https://www.disstudies.org">Society for Disability Studies</a></li>
            <li><a href="https://www.wrightslaw.com">Special Ed Advocate</a></li>
            <li><a href="https://www.thestrengthcoach.com/">Strength Coach</a></li>
            <li><a href="https://tacid.org/">Tacoma Area Coalition of Individuals with Disabilities (TACID)</a></li>
            <li><a href="https://www.tash.org">TASH</a></li>
            <li><a href="https://www.iidc.indiana.edu/pages/Teaching-Tips-for-Children-and-Adults-with-Autism">Temple Grandin's Teaching Tips</a></li>
            <li><a href="https://www.lookingglass.org">Through the Looking Glass</a></li>
            <li><a href="https://www.ed.gov">U.S. Department of Education</a></li>
            <li><a href="https://www.ucp.org">United Cerebral Palsy</a></li>
            <li><a href="https://watap.org">Washington Assistive Technology Act Program</a></li>
            <li><a href="https://www.k12.wa.us/specialed">Washington OSPI/Special Education</a></li>
            <li><a href="https://wapave.org/">Washington PAVE</a></li>
            <li><a href="https://www.doh.wa.gov/YouandYourFamily/DisabilityOrganizations">Washington State Department of Health - Emergency Disability Resources</a></li>
            <li><a href="https://www.ddc.wa.gov/">Washington State Developmental Disabilities Council</a></li>
            <li><a href="https://www.fathersnetwork.org">Washington State Father's Network</a></li>
            <li><a href="https://win211.org/">Washington State Info Network (211)</a></li>
            <li><a href="https://ddombuds.org/">Washington State Office of the DD Ombuds</a></li>
            <li><a href="https://www.wastatepta.org">Washington State PTA</a></li>
            <li><a href="https://www.wid.org">World Institute on Disability</a></li>
            <li><a href="https://www.yellowpagesforkids.com">Yellow Pages for Kids with Disabilities</a></li>
        </ul>
    </div>
</div>
<p class="text-center">Did we miss a resource you know about?  Let us know at <a href="mailto:info@pc2online.org">info@pc2online.org</a></p>