@section head {

}
@{
    ViewData["Title"] = "PC2 Virtual Closet";
}

<div class="d-flex justify-content-center">
    <img src="~/images/resource-closet/closet1.jpg" />
    <img src="~/images/resource-closet/closet2.jpg" />
    <img src="~/images/resource-closet/closet3.jpg" />
    <img src="~/images/resource-closet/closet4.jpg" />
</div>
<br />
<h1>@ViewData["Title"]</h1>
<div class="divider"></div>
<br />
<p>Do you have a piece of equipment (wheelchair, hospital bed, walker, etc.) or other item in good condition you are no longer using that could help another family?</p>
<br />
<p>Are you willing to donate the item to someone else in the area?</p>
<br />
<p>Give us a call, we'll make note of your item, and help put the word out to find someone who can use it!</p>
<br />
<p>
For more information, call us at <a href="tel:2535640707">253.564.0707</a> x 103 or email <a href="mailto:jauna@pc2online.org">jauna@pc2online.org</a>.</p>
