@model IEnumerable<AgencyDisplayViewModel>

@{
    ViewData["Title"] = "Agencies";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<label for="agency">Choose an Agency: </label>
<input list="agencyList" name="agency" id="agency" onchange="populateButtons();" />

<datalist id="agencyList">
    @foreach(AgencyDisplayViewModel agency in Model)
    {
        <option value="@agency.AgencyId">@agency.AgencyName 
            @if (agency.City != null)
            {
                <text>- @agency.City</text>
            }
        </option>
    }
</datalist>

<a class="btn btn-primary" target="_blank" id="edit-link" asp-action="Edit">Edit</a> |
<a class="btn btn-danger" target="_blank" id="delete-link" asp-action="Delete">Delete</a>

<script>
const originalEditLink = document.getElementById("edit-link").href;
const originalDeleteLink = document.getElementById("delete-link").href;

function populateButtons() {
    let selectedAgency = document.getElementById("agency");
    if (selectedAgency.value == "") {
        return;
    }

    let selectedAgencyId = selectedAgency.value;

    document.getElementById("edit-link").href = originalEditLink + "/" + selectedAgencyId;
    document.getElementById("delete-link").href = originalDeleteLink + "/" + selectedAgencyId;
}
</script>