@{
    // recieve the event description
    string eventDescription = ViewData["eventDescription"].ToString();

    @*loop through EventDescription string to search for links*@
    @for (int i = 0; i < eventDescription.Length; i++)  
    {
        // look for the first instance of "http"
        if (eventDescription.IndexOf("http") == i)
        {                                                  
            // find the next space after the link if it exists 
            int linkEnd = eventDescription.IndexOf(" ", i);                                                   
            if (linkEnd == -1)
            {
                // if not the link is the last word in the string
                linkEnd = eventDescription.Length;
            }                                                
            // create a substring of the link
            string link = eventDescription.Substring(i, linkEnd - i);
            <a href="@link" target="_blank"> @link</a>
            // skip to the end of the link
            i += linkEnd - i;
        }
        else
        {
            @eventDescription[i]
        }
    }
}
