@model PC2.Controllers.CalendarCreateEventViewModel
@{
    ViewData["Title"] = "Create Event";
}

<div class="justify-content-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form id="create" class="form" asp-action="Create" method="post">
            <div class="form-group">
                <label class="control-label">Set date for event</label>
                <input asp-for="DateOfEvent" class="form-control" type="date" />
                <span asp-validation-for="DateOfEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Set a starting time</label>
                <input asp-for="StartingTime" class="form-control" type="time" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Set an ending time</label>
                <input asp-for="EndingTime" class="form-control" type="time" />
                <span asp-validation-for="EndingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Describe the event</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input asp-for="IsPc2Event" type="checkbox"/>
                    <label for="pc2">PC2 Event</label>
                    <input asp-for="IsCountyEvent" type="checkbox" />
                    <label for="county">County Event</label>
                </div>
                <span asp-validation-for="IsCountyEvent" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <input id="submit" type="submit" value="Create Event" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
