@model PC2.Controllers.CalendarCreateEventViewModel

@{
    ViewData["Title"] = "Edit Event";
}

<h1>@ViewData["Title"]</h1>

<h4>Calendar Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                <label asp-for="DateOfEvent" class="control-label"></label>
                <input asp-for="DateOfEvent" class="form-control" type="date" />
                <span asp-validation-for="DateOfEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingTime" class="control-label"></label>
                <input asp-for="StartingTime" class="form-control" type="time" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingTime" class="control-label"></label>
                <input asp-for="EndingTime" class="form-control" type="time" />
                <span asp-validation-for="EndingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPc2Event" /> @Html.DisplayNameFor(model => model.IsPc2Event)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCountyEvent" /> @Html.DisplayNameFor(model => model.IsCountyEvent)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

