@{
    ViewData["Title"] = "About Us";
}

<style>
    .aboutUS {
        font-size: 15px;
        text-align: center;
        width: 60%;
        line-height: 1.3em;
        margin: 2.8em auto 1.5em auto;
    }

    .centHead {
        text-align: center;
        font-weight: bold;
        width: 60%;
        margin: 2.8em auto 1.5em auto;
    }

    .headerPic {
        margin-left: auto;
        margin-right: auto;
    }

    .people-list > div{
        margin-bottom: 1em;
        text-align:center;
    }

    .people-list > h2{
        font-size: 1.3em;
        text-align:center;
        margin: 2em 0 1.25em 0;
    }

</style>


<div>
    <div class="headerPic">
        <img src="~/images/about/au1.jpg" />
        <img src="~/images/about/au2.jpg" />
        <img src="~/images/about/au3.jpg" />
        <img src="~/images/about/au4.jpg" />
        <img src="~/images/about/au5.jpg" />
        <img src="~/images/about/au6.jpg" />
        <img src="~/images/about/au7.jpg" />
    </div>
</div>

<div id="content" class="people-list">
    <h1 id="page-title">About Us</h1>
    <div class="divider"></div>

    <h2>Our Staff</h2>

    <div>
        <p class="name">BethAnn Garteiz, Ed.D.</p>
        <p class="position">Executive Director</p>
        <p class="phone">253.564.0707 x 107</p>
        <p class="email">
            <a href="mailto:bethann@pc2online.org">Email</a>
        </p>
    </div>

    <div>
        <p class="name">Jauna Balderston-Todd</p>
        <p class="position">Media Specialist / Bookkeeper</p>
        <p class="phone">253.564.0707 x 103</p>
        <p class="email">
            <a href="mailto:jauna@pc2online.org">Email</a>
        </p>
    </div>

    <div>
        <p class="name">Dale Golder</p>
        <p class="position">Housing Program Manager</p>
        <p class="phone">253.564.0707 x 107</p>
        <p class="email">
            <a href="mailto:dale@pc2online.org">Email</a>
        </p>
    </div>

    <div>
        <p class="name">Sandi Gruberg</p>
        <p class="position">Program Coordinator</p>
        <p class="phone">253.564.0707 x 102</p>
        <p class="email">
            <a href="mailto:sandi@pc2online.org">Email</a>
        </p>
    </div>

    <div>
        <p class="name">Kristin Loos</p>
        <p class="position">Program Assistant</p>
        <p class="phone">253.564.0707 x 105</p>
        <p class="email">
            <a href="kristin@pc2online.org">Email</a>
        </p>
    </div>

    <div>
        <p class="name">Christopher Cleveland</p>
        <p class="position">Office Assistant</p>
        <p class="phone">253.564.0707 x 100</p>
        <p class="email">
            <a href="mailto:christopher@pc2online.org">Email</a>
        </p>
    </div>

    <div>
        <p class="name">Nathan Becker</p>
        <p class="position">Custodian</p>
        <p class="phone">253.564.0707</p>
        <p class="email"></p>
    </div>

    <div>
        <p class="name">Shawna Franklin</p>
        <p class="position">Housing Consultant</p>
        <p class="phone"></p>
        <p class="email">
            <a href="mailto:shawna@pc2online.org">Email</a>
        </p>
    </div>

    <div>
        <p class="name">General Info/Questions</p>
        <p class="position"></p>
        <p class="phone">253.564.0707</p>
        <p class="email">
            <a href="mailto:info@pc2online.org">Email</a>
        </p>
    </div>

    <h2>Our Board</h2>

    <div>
        <p class="name">Dr. Alan Gill</p>
        <p class="position">Board Chair</p>
        <p class="start-year">Member since 2007</p>
    </div>

    <div>
        <p class="name">Tom Pagana</p>
        <p class="position">Board Vice Chair / Treasurer</p>
        <p class="start-year">Member since 2001</p>
    </div>

    <div>
        <p class="name">Jason Clapp</p>
        <p class="position"></p>
        <p class="start-year">Member since 2019</p>
    </div>

    <div>
        <p class="name">LaVon Frazier</p>
        <p class="position"></p>
        <p class="start-year">Member since 2014</p>
    </div>

    <div>
        <p class="name">Jo Simms</p>
        <p class="position"></p>
        <p class="start-year">Member since 2014</p>
    </div>

    <div>
        <p class="name">Jeffrey Snyder, Sr.</p>
        <p class="position"></p>
        <p class="start-year">Member since 2012</p>
    </div>

    <div>
        <p class="name">Melody Snyder</p>
        <p class="position"></p>
        <p class="start-year">Member since 2013</p>
    </div>

    <div>
        <p class="name">Sarah Temblay</p>
        <p class="position"></p>
        <p class="start-year">Member since 2019</p>
    </div>

    <div>
        <p class="name">Timothy Williams</p>
        <p class="position"></p>
        <p class="start-year">Member since 2007</p>
    </div>

    <h2>Our Steering Committee</h2>

    <div>
        <p class="name">Cindy Becker</p>
        <p class="position">Parent</p>
    </div>

    <div>
        <p class="name">Doanh Chang</p>
        <p class="position">Parent</p>
    </div>

    <div>
        <p class="name">Linda Hyatt</p>
        <p class="position">Parent</p>
    </div>

    <div>
        <p class="name">Carolyn Jones</p>
        <p class="position">Parent</p>
    </div>

    <div>
        <p class="name">Francie Peltier</p>
        <p class="position">Parent</p>
    </div>

    <div>
        <p class="name">Michael Raymond</p>
        <p class="position">Self Advocate</p>
    </div>

    <div>
        <p class="name">Vikram Shah</p>
        <p class="position">Parent</p>
    </div>

    <div>
        <p class="name">Robert Wardell</p>
        <p class="position">Self Advocate</p>
    </div>
</div>
