
@{
    ViewData["Title"] = "ConfirmImportExcel";
}

<h1>Import Excel File</h1>

<h2>Warning! Only import file to empty database</h2>

<form asp-action="ConfirmImportExcel">
    <input type="submit" value="Confirm" class="btn-primary" />
</form>
