@{
    ViewData["Title"] = "Contact Us";
}

<br />
<h1>Contact Us</h1>

<div class="divider"></div>

<div>
    <div class="row justify-content-center">
        <div class="col-4">
            <h6>PC2</h6>
            <p>3716 Pacific Avenue</p>
            <p>Suite A</p>
            <p>Tacoma, WA  98418</p>
            <br />
            <a href = "mailto: info@pc2online.org"><p>info@pc2online.org</p></a>
            <a href="tel: +2535640707"><p>253.564.0707</p></a>
            <a href="tel: +8773354657"><p>877-DD-LINKS</p></a>
            <p>253.564.0702 (fax)</p>
        </div>

        <div class="col-7">
        <form>
            <div class="row">
                <div class="col">
                    <input type="Text" class="form-control" id="inputName" placeholder="Name">
                    <br />
                    <input type="Email" class="form-control" id="inputEmail" placeholder="Email">
                    <br />
                    <input type="number" class="form-control" id="inputPhone" placeholder="Phone">
                    <br />
                    <input type="Text" class="form-control" id="inputSubJect" placeholder="Subject">
                </div>
                <div class="col">
                    <textarea class="form-control" id="inputMessage" placeholder="Message" rows="6"></textarea>
                    <br />
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary me-md-2">Send</button>
                    </div>
                </div>
            </div> 
        </form>
        </div>
        <div class="divider"></div>
        <iframe width="768" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=3716%20Pacific%20Avenue%20%20Suite%20A%20%20Tacoma,%20WA%20%2098418&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <style>.mapouter{position:relative;text-align:right;height:500px;width:768px;}</style>embedding google maps into website<style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:768px;}</style>
    </div>
</div>
