@{
    ViewData["Title"] = "PC2's Housing Program";
}

<div class="d-flex justify-content-center">
    <img src="~/images/HousingProgram/House-1.webp" />
    <img src="~/images/HousingProgram/House-2.webp" />
    <img src="~/images/HousingProgram/House-3.webp" />
    <img src="~/images/HousingProgram/House-4.webp" />
</div>
<br />
<h1>@ViewData["Title"]</h1>

<div class="divider"></div>

<div>

    <div class="row justify-content-center">
        <div class="col-4">
            <p>
                PC2's Housing Program is for families with a son or daughter
                with a developmental disability still living at home and for 
                individuals with a developmental disability.  The program is 
                targeted toward first-time home-buyers with an annual 
                income that is 80% or less of the median income (see chart 
                below).
            </p>
            <br />
            <p class="text-center">
                Are you a first-time home-buyer?
                Do you have some money for a down payment?
                Will you attend home-ownership classes?
                Is your total gross annual income less than the
                amounts below for your family size?
            </p>
            <br />
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">HOUSEHOLD SIZE</th>
                  <th scope="col">MAXIMUM INCOME</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$50,900 </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>$58,150  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>$65,400  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>$72,650</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$78,500</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>$84,300</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>$90,100</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>$95,900</td>
                </tr>
                <tr>
                  <td>Income guidelines</td>
                  <td>updated 9/7/2021</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>Information:</h2>
            <p>
                PC2 will help you learn more about homeownership 
                opportunities and responsibilities through meetings, 
                workshops, mailings, our website, and on an individual 
                basis through phone, email, and one-on-one meetings.
            </p>
            <br />
            <h2>Homebuyer Education & Counseling:</h2>
            <p>
                PC2 will provide you with home-buyer 
                education/counseling to help you with decisions you'll 
                need to make every step of the way.​
            </p>
            <br />
            <h2>Down Payment Assistance:</h2>
            <p>
                Through grants and loans from various sources, PC2 
                can help you reduce your monthly loan amount.
            </p>
            <br />
            <h2>Follow-Up / Follow-Along Services:</h2>
            <p>
                PC2 will be available to answer our questions and to 
                help you with any problems you have being a homeowner.
            </p>
            <br />
            <p>Contact Dale Golder if you have any questions:</p>
            <a href="tel: +2535640707"><p>253.564.0707 x 101</p></a>
            <a href = "mailto: dale@pc2online.org"><p>dale@pc2online.org</p></a>
            <br />
            <p><a href="~/PDF/HousingProgram/HomeOwnershipIntake.pdf">Click here</a> to access our program intake packet.</p>
        </div>
    </div>
    <div class="divider"></div>
    <h4>Privacy Policy:</h4>
    <p>
        PC2's Housing Program (a program of the Pierce County Coalition for Developmental Disabilities) is committed to 
        assuring the privacy of individuals and/or families who have contacted us for assistance.  We realize that the 
        concerns you bring to us are highly personal in nature.  We assure you that all information shared both orally and 
        in writing will be managed within legal and ethical considerations.  Your "nonpublic personal information," such 
        as your total debt information, income, living expenses, and other personal information concerning your financial 
        circumstances, will be provided to creditors, program monitors, and others only with your authorization and 
        signature on the Foreclosure Mitigation Counseling Agreement.  We may also use anonymous aggregated case file 
        information for the purpose of evaluating our services, gathering valuable research information, and designing 
        future programs.
    </p>
    <br />
    <h6>Types of information that we gather about you:</h6>
    <ul>
        <li>Information we receive from you orally, on applications or other forms, such as your name, address, social security number, assets, and income</li>
        <li>Information about your transactions with us, your creditors, or others, such as your account balance, payment history, parties to transactions, and credit card usage</li>
        <li>Information we receive from a credit reporting agency, such as your credit history.</li>
    </ul>
    <h6>You may opt-out of certain disclosures:</h6>
    <ol>
        <li>You have the opportunity to "opt-out" of disclosures of your nonpublic personal information to third parties (such as your creditors), that is, direct us not to make those disclosures.</li>
        <li>If you choose to "opt out," we will not be able to answer questions from your creditors.  If at any time you wish to change your decision with regards to your "opt-out," you may call us at <a href="tel: +2535640707">253.564.0707</a> to do so.</li>
    </ol>
            
            
    <h6>Release of your information to third parties:</h6>
    <ol>
        <li>So long as you have not opted out, we may disclose some or all of the information that we collect, as described above, to your creditors or third parties where we  have determined that it would be helpful to you, would aid us in counseling you, or is a requirement of grant awards which make our services possible.</li>
        <li>We may also disclose any nonpublic personal information about you or former customers to anyone as permitted by law (e.g. if we are compelled by legal process.)</li>
        <li>Within the organization, we restrict access to nonpublic personal information about you to those employees who need to know that information to provide services to you.  We maintain physical, electronic, and procedural safeguards that comply with federal regulations to guard your nonpublic personal information.</li>
    </ol>    
</div>
<div class="d-flex justify-content-center">
    <img src="~/images/HousingProgram/House-5.webp" />
    <img src="~/images/HousingProgram/House-6.webp" />
    <img src="~/images/HousingProgram/House-7.webp" />
</div>

