@{
    ViewData["Title"] = "Home Page";
}

@section Head
{
    <style>
    #content {
        color: rgb(20, 100, 47);
    }

    #photo-header {
        width: 976px;
        height: 238px;
    }

    #mission-statement {
        font-size: 1.1em;
        width: calc(50% + 130px);
        margin: 2.8em auto 2.2em auto;
        text-align: center;
    }

    #intro {
        margin-top: 3.2em;
    }

    .left-column {
        padding-left: 25px;
        padding-right: 30px;
    }

    .right-column {
        padding-left: 55px;
    }

    .left-column, .right-column {
        width: 50%;
        float: left;
    }

        .left-column ul, .right-column ul {
            padding: 0;
        }

    /*Prevents floated elements from overflowing*/
    #content::after {
        display: block;
        height: 0;
        width: 100%;
        content: "";
        clear: both;
    }

    @@media only screen and (min-width: 768px) {
        #bottom-nav {
            display: flex;
            justify-content: space-around;
            width: 93%;
            padding: 13px 0;
            background-color: rgb(136, 178, 53);
            margin: 105px auto 0 auto;
            font-size: 22px;
        }

        .bottom-item {
            padding: 0 7px;
            color: rgb(41, 41, 41);
        }

            .bottom-item:hover {
                text-decoration: none;
                color: rgb(41, 41, 41);
            }

            .bottom-item svg {
                display: block;
                margin: 0 auto 14px auto;
                width: 36px;
                height: 36px;
                fill-opacity: 1;
                stroke: #2A2A2A;
                stroke-opacity: 1;
                stroke-width: 4px;
                fill: rgba(136, 178, 53, 1);
            }

            .bottom-item div {
                margin: auto;
                white-space: nowrap;
                text-size-adjust: none;
            }
    }

    @@media only screen and (max-width: 768px) {
        #bottom-nav * {
            display: none;
        }
        /*Turns two column list into one*/
        .left-column, .right-column {
            width: 100%;
            padding-left: 25px;
            padding-right: 0;
            margin-bottom: 0;
        }

            .left-column ul {
                margin-bottom: 0;
            }

        #photo-header {
            width: 372px !important;
            height: inherit;
        }

        #photo-0 {
            display: none;
        }
    }

    @@media only screen and (max-width: 1023px) {
        #photo-header {
            width: 663px;
        }

        #photo-2 {
            display: none;
        }
    }
    </style>
}


<div id="photo-header">
    <img id="photo-0" src="~/images/home/handPaintGirl1.jpg" alt="fun girl with paint on her hands" />
    <img id="photo-1" src="~/images/home/handPaintGirl2.jpg" alt="fun girl with paint on her hands" />
    <img id="photo-2" src="~/images/home/handPaintGirl3.jpg" alt="fun girl with paint on her hands" />
</div>
<div id="content">
    <div id="mission-statement">
        <p>
            PC2's mission: <br />
            <em>
                &quot;Empowering individuals with developmental disabilities and
                their families.&quot;
            </em>
        </p>
        <p>
            PC2's vision: <br />
            <em>
                &quot;All people with developmental disabilities have access to the services
                and programs that meet their needs.&quot;
            </em>
        </p>
    </div>
    <div class="divider"></div>
    <div class="left-column">
        <ul>
            <li>Provides resource links and follow-up/follow-along services for families.</li>
            <li>Publishes a quarterly newsletter with relevant articles and information.</li>
            <li>Creates and distributes a comprehensive Resource Guide for Pierce County.</li>
            <li>
                Conducts educational meetings on a variety of topics from birth to three
                services, housing/residential issues, transition from high school to adult services,
                employment, legal overviews, and more.
            </li>
            <li>Provides information at resource and vendor fairs throughout the county.</li>
        </ul>
    </div>
    <div class="right-column">
        <ul>
            <li>
                Provides a Home Ownership Down Payment Assistance Program for individuals
                with developmental disabilities and their families.
            </li>
            <li>
                Co-hosts an annual Legislative Forum for constituents to meet and speak
                with their elected officials.
            </li>
            <li>
                Provides information on how the legislative process works and how your
                voice can make a difference.
            </li>
            <li>
                Shows you how you can connect with legislators and how to advocate for yourself.
            </li>
            <li>Helps families - like yours - find their voice.</li>
        </ul>
    </div>
</div>
<div id="bottom-nav">
    <a class="bottom-item" asp-controller="NewsToKnow" asp-action="Index">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1.8696439151252946 -1.9571471918906411 134.6142857142857 134.6142857142857" role="img" preserveAspectRatio="xMidYMid meet">
            <path d="M65 65.8zm65.5 13.1c-.1-.5-.2-1-.4-1.5-1.2-3.8-3.4-6.1-6.1-6.3-4.9-.4-7.6 1.2-11.1 2.3-1.7.6-3.6 1-6.2 1-2.5 0-5.5-.4-9.4-1.3-1.5-.4-3.7-1.3-5.6-2.6-.9-.7-1.8-1.4-2.3-2.2-.2-.4-.5-.6-.7-1.1-.2-.5-.2-1.3-.2-1.3 0-1 0-1.3.2-1.8s.5-1.1.7-1.5c.5-.8 1.4-1.6 2.3-2.3 1.8-1.3 4.1-2.3 5.6-2.7 3.9-.9 6.9-1.4 9.5-1.3 2.5 0 4.4.5 6.2 1 3.5 1.1 6.2 2.7 11.1 2.3 2.7-.2 4.9-2.5 6.1-6.3.1-.5.3-1 .4-1.5.1-.5.2-1 .2-1.6.1-1.1.1-2.3 0-3.5 0-.6-.1-1.2-.2-1.9-.1-.6-.2-1.3-.4-1.9-.3-1.3-.7-2.6-1.2-3.9-.5-1.3-1.2-2.5-1.9-3.6s-1.4-2.2-2.2-3.1c-1.6-1.8-3.4-3.3-5.1-4.2-3.5-1.9-6.7-1.9-8.7-.2-3.8 3.1-4.5 6.2-6.2 9.5-.4.8-.9 1.6-1.5 2.5-.6.9-1.3 1.7-2.2 2.6-1.8 1.8-4.2 3.6-7.6 5.7-1.3.8-3.6 1.8-5.8 2.1-1.1.2-2.3.3-3.2.1-.2 0-.5-.1-.7-.2-.2-.1-.5-.2-.7-.3-.5-.2-.9-.5-1.2-.9-.4-.4-.7-.8-.9-1.2-.1-.2-.2-.5-.3-.7-.1-.2-.2-.5-.2-.7-.2-1-.1-2.1.1-3.2.3-2.2 1.3-4.5 2.1-5.8 2.1-3.4 3.9-5.9 5.7-7.6.9-.9 1.8-1.6 2.6-2.2.8-.6 1.7-1.1 2.5-1.5 3.2-1.7 6.3-2.4 9.4-6.2 1.7-2.1 1.7-5.2-.2-8.7-.9-1.7-2.4-3.4-4.2-5.1-.9-.8-2-1.5-3.1-2.2-1.1-.7-2.3-1.4-3.6-1.9-1.3-.5-2.6-.9-3.9-1.2-.6-.2-1.3-.3-1.9-.4-.6-.1-1.3-.1-1.9-.2-1.2-.1-2.4-.1-3.5 0-.6 0-1.1.1-1.6.2s-1 .2-1.5.4c-3.8 1.2-6.1 3.4-6.3 6.1-.4 4.9 1.2 7.6 2.3 11.1.6 1.7 1 3.6 1 6.2 0 2.5-.4 5.5-1.3 9.4-.4 1.5-1.3 3.7-2.6 5.6-.7.9-1.4 1.8-2.2 2.3-.4.2-1.1.5-1.6.7-.5.2-.8.2-1.8.2 0 0-.8 0-1.3-.2s-.8-.5-1.2-.7c-.8-.5-1.5-1.4-2.2-2.3-1.3-1.8-2.2-4.1-2.6-5.6-.9-3.9-1.4-6.9-1.3-9.5 0-2.5.5-4.4 1-6.2 1.1-3.5 2.7-6.2 2.3-11.1-.2-2.7-2.5-4.9-6.3-6.1-.5-.1-1-.3-1.5-.4-.5-.1-1-.2-1.6-.2C49.2 0 48 0 46.8.1c-.6 0-1.2.1-1.9.2-.6.1-1.3.2-1.9.4-1.3.3-2.6.7-3.9 1.2-1.3.5-2.5 1.2-3.6 1.9S33.3 5.2 32.4 6c-1.8 1.6-3.3 3.4-4.2 5.1-1.9 3.5-1.9 6.7-.2 8.7 3.1 3.8 6.2 4.5 9.5 6.2.8.4 1.6.9 2.5 1.5.9.6 1.7 1.3 2.6 2.2 1.8 1.7 3.6 4.2 5.7 7.6.8 1.3 1.8 3.6 2.1 5.8.2 1.1.3 2.3.1 3.2 0 .2-.1.5-.2.7-.1.2-.2.5-.3.7-.2.5-.5.9-.9 1.2-.4.4-.8.7-1.2.9-.2.1-.5.2-.7.3-.2.1-.5.2-.7.2-1 .2-2.1.1-3.2-.1-2.2-.3-4.5-1.3-5.8-2.1-3.4-2.1-5.9-3.9-7.6-5.7-.9-.9-1.6-1.8-2.2-2.6-.6-.8-1.1-1.7-1.5-2.5-1.7-3.2-2.4-6.3-6.2-9.4-2.1-1.7-5.2-1.7-8.7.2-1.7.9-3.4 2.4-5.1 4.2-.8.9-1.5 2-2.2 3.1-.7 1.1-1.4 2.3-1.9 3.6-.7 1.4-1.1 2.7-1.4 4-.2.6-.3 1.3-.4 1.9-.1.6-.1 1.3-.2 1.9C0 48 0 49.2.1 50.3c0 .6.1 1.1.2 1.6s.2 1 .4 1.5c1.2 3.8 3.4 6.1 6.1 6.3 4.9.4 7.6-1.2 11.1-2.3 1.7-.6 3.6-1 6.2-1 2.5 0 5.5.4 9.4 1.3 1.5.4 3.7 1.3 5.6 2.6.9.7 1.8 1.4 2.3 2.2.2.4.5 1.1.7 1.6.2.5.2.8.2 1.8 0 0 0 .8-.2 1.3s-.5.8-.7 1.2c-.5.8-1.4 1.5-2.3 2.2-1.8 1.3-4.1 2.2-5.6 2.6-3.9.9-6.9 1.4-9.5 1.3-2.5 0-4.4-.5-6.2-1-3.5-1.1-6.2-2.7-11.1-2.3-2.7.2-4.9 2.5-6.1 6.3-.1.5-.3 1-.4 1.5-.1.5-.2 1-.2 1.6 0 1 0 2.2.1 3.4 0 .6.1 1.2.2 1.9.1.6.2 1.3.4 1.9.3 1.3.7 2.6 1.2 3.9.5 1.3 1.2 2.5 1.9 3.6s1.4 2.2 2.2 3.1c1.6 1.8 3.4 3.3 5.1 4.2 3.5 1.9 6.7 1.9 8.7.2 3.8-3.1 4.5-6.2 6.2-9.5.4-.8.9-1.6 1.5-2.5.6-.9 1.3-1.7 2.2-2.6 1.8-1.8 4.2-3.6 7.6-5.7 1.3-.8 3.6-1.8 5.8-2.1 1.1-.2 2.3-.3 3.2-.1.2 0 .5.1.7.2.2.1.5.2.7.3.5.2.9.5 1.2.9.4.4.7.8.9 1.2.1.2.2.5.3.7.1.2.1.5.2.7.2 1 .1 2.1-.1 3.2-.3 2.2-1.3 4.5-2.1 5.8-2.1 3.4-3.9 5.9-5.7 7.6-.9.9-1.8 1.6-2.6 2.2-.8.6-1.7 1.1-2.5 1.5-3.2 1.7-6.3 2.4-9.4 6.2-1.7 2.1-1.7 5.2.2 8.7.9 1.7 2.4 3.4 4.2 5.1.9.8 2 1.5 3.1 2.2 1.1.7 2.3 1.4 3.6 1.9 1.3.5 2.6.9 3.9 1.2.6.2 1.3.3 1.9.4.6.1 1.3.1 1.9.2 1.2.1 2.4.1 3.5 0 .6 0 1.1-.1 1.6-.2s1-.2 1.5-.4c3.8-1.2 6.1-3.4 6.3-6.1.4-4.9-1.2-7.6-2.3-11.1-.6-1.7-1-3.6-1-6.2 0-2.5.4-5.5 1.3-9.4.4-1.5 1.3-3.7 2.6-5.6.7-.9 1.4-1.8 2.2-2.3.4-.2.6-.5 1.1-.7.5-.2 1.3-.2 1.3-.2 1 0 1.3 0 1.8.2s1.1.5 1.5.7c.8.5 1.6 1.4 2.3 2.3 1.3 1.8 2.3 4.1 2.7 5.6.9 3.9 1.4 6.9 1.3 9.5 0 2.5-.5 4.4-1 6.2-1.1 3.5-2.7 6.2-2.3 11.1.2 2.7 2.5 4.9 6.3 6.1.5.1 1 .3 1.5.4.5.1 1 .2 1.6.2 1.1.1 2.3.1 3.5 0 .6 0 1.2-.1 1.9-.2.6-.1 1.3-.2 1.9-.4 1.3-.3 2.6-.7 3.9-1.2 1.3-.5 2.5-1.2 3.6-1.9s2.2-1.4 3.1-2.2c1.8-1.6 3.3-3.4 4.2-5.1 1.9-3.5 1.9-6.7.2-8.7-3.1-3.8-6.2-4.5-9.5-6.2-.8-.4-1.6-.9-2.5-1.5-.9-.6-1.7-1.3-2.6-2.2-1.8-1.7-3.6-4.2-5.7-7.6-.8-1.3-1.8-3.6-2.1-5.8-.2-1.1-.3-2.3-.1-3.2 0-.2.1-.5.2-.7.1-.2.2-.5.3-.7.2-.5.5-.9.9-1.2.4-.4.8-.7 1.2-.9.2-.1.5-.2.7-.3.2-.1.5-.2.7-.2 1-.2 2.1-.1 3.2.1 2.2.3 4.5 1.3 5.8 2.1 3.4 2.1 5.9 3.9 7.6 5.7.9.9 1.6 1.8 2.2 2.6.6.8 1.1 1.7 1.5 2.5 1.7 3.2 2.4 6.3 6.2 9.4 2.1 1.7 5.2 1.7 8.7-.2 1.7-.9 3.4-2.4 5.1-4.2.8-.9 1.5-2 2.2-3.1.7-1.1 1.4-2.3 1.9-3.6.5-1.3.9-2.6 1.2-3.9.2-.6.3-1.3.4-1.9.1-.6.1-1.3.2-1.9.1-1.2.1-2.4 0-3.5.2-.5.1-1.1 0-1.6zM65.8 65c-.1 0-.1 0 0 0zm-.1 0s-.1.1 0 0c-.1 0-.1 0 0 0zm-.7 0s0 .1 0 0zm0 .1s0 .1 0 0c0 0 .1.1 0 0zm0-.1zm.7.6c0 .1 0 .1 0 0 0 .1 0 .1 0 0-.1.1-.1.1 0 0l-.1.1c0 .1 0 0 0 0h-.2v.2-.4c.1 0-.1-.1 0-.1v-.1h-.2.3c0 .1.1-.1.1 0h.1c.1 0 0 0 0 0v.2c.1 0 .1 0 0 .1 0-.1 0-.1 0 0v-.1.1c0-.1 0-.1 0 0 .1-.1.1 0 0 0 0-.1.1 0 0 0zm.1.2v-.2.2zm-.8-.3z"></path>
        </svg>
        <div>NEWS TO KNOW</div>
    </a>
    <a class="bottom-item" asp-controller="Events" asp-action="Index">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1.8696439151252946 -1.9571471918906411 134.6142857142857 134.6142857142857" role="img" preserveAspectRatio="xMidYMid meet">
            <path d="M65 65.8zm65.5 13.1c-.1-.5-.2-1-.4-1.5-1.2-3.8-3.4-6.1-6.1-6.3-4.9-.4-7.6 1.2-11.1 2.3-1.7.6-3.6 1-6.2 1-2.5 0-5.5-.4-9.4-1.3-1.5-.4-3.7-1.3-5.6-2.6-.9-.7-1.8-1.4-2.3-2.2-.2-.4-.5-.6-.7-1.1-.2-.5-.2-1.3-.2-1.3 0-1 0-1.3.2-1.8s.5-1.1.7-1.5c.5-.8 1.4-1.6 2.3-2.3 1.8-1.3 4.1-2.3 5.6-2.7 3.9-.9 6.9-1.4 9.5-1.3 2.5 0 4.4.5 6.2 1 3.5 1.1 6.2 2.7 11.1 2.3 2.7-.2 4.9-2.5 6.1-6.3.1-.5.3-1 .4-1.5.1-.5.2-1 .2-1.6.1-1.1.1-2.3 0-3.5 0-.6-.1-1.2-.2-1.9-.1-.6-.2-1.3-.4-1.9-.3-1.3-.7-2.6-1.2-3.9-.5-1.3-1.2-2.5-1.9-3.6s-1.4-2.2-2.2-3.1c-1.6-1.8-3.4-3.3-5.1-4.2-3.5-1.9-6.7-1.9-8.7-.2-3.8 3.1-4.5 6.2-6.2 9.5-.4.8-.9 1.6-1.5 2.5-.6.9-1.3 1.7-2.2 2.6-1.8 1.8-4.2 3.6-7.6 5.7-1.3.8-3.6 1.8-5.8 2.1-1.1.2-2.3.3-3.2.1-.2 0-.5-.1-.7-.2-.2-.1-.5-.2-.7-.3-.5-.2-.9-.5-1.2-.9-.4-.4-.7-.8-.9-1.2-.1-.2-.2-.5-.3-.7-.1-.2-.2-.5-.2-.7-.2-1-.1-2.1.1-3.2.3-2.2 1.3-4.5 2.1-5.8 2.1-3.4 3.9-5.9 5.7-7.6.9-.9 1.8-1.6 2.6-2.2.8-.6 1.7-1.1 2.5-1.5 3.2-1.7 6.3-2.4 9.4-6.2 1.7-2.1 1.7-5.2-.2-8.7-.9-1.7-2.4-3.4-4.2-5.1-.9-.8-2-1.5-3.1-2.2-1.1-.7-2.3-1.4-3.6-1.9-1.3-.5-2.6-.9-3.9-1.2-.6-.2-1.3-.3-1.9-.4-.6-.1-1.3-.1-1.9-.2-1.2-.1-2.4-.1-3.5 0-.6 0-1.1.1-1.6.2s-1 .2-1.5.4c-3.8 1.2-6.1 3.4-6.3 6.1-.4 4.9 1.2 7.6 2.3 11.1.6 1.7 1 3.6 1 6.2 0 2.5-.4 5.5-1.3 9.4-.4 1.5-1.3 3.7-2.6 5.6-.7.9-1.4 1.8-2.2 2.3-.4.2-1.1.5-1.6.7-.5.2-.8.2-1.8.2 0 0-.8 0-1.3-.2s-.8-.5-1.2-.7c-.8-.5-1.5-1.4-2.2-2.3-1.3-1.8-2.2-4.1-2.6-5.6-.9-3.9-1.4-6.9-1.3-9.5 0-2.5.5-4.4 1-6.2 1.1-3.5 2.7-6.2 2.3-11.1-.2-2.7-2.5-4.9-6.3-6.1-.5-.1-1-.3-1.5-.4-.5-.1-1-.2-1.6-.2C49.2 0 48 0 46.8.1c-.6 0-1.2.1-1.9.2-.6.1-1.3.2-1.9.4-1.3.3-2.6.7-3.9 1.2-1.3.5-2.5 1.2-3.6 1.9S33.3 5.2 32.4 6c-1.8 1.6-3.3 3.4-4.2 5.1-1.9 3.5-1.9 6.7-.2 8.7 3.1 3.8 6.2 4.5 9.5 6.2.8.4 1.6.9 2.5 1.5.9.6 1.7 1.3 2.6 2.2 1.8 1.7 3.6 4.2 5.7 7.6.8 1.3 1.8 3.6 2.1 5.8.2 1.1.3 2.3.1 3.2 0 .2-.1.5-.2.7-.1.2-.2.5-.3.7-.2.5-.5.9-.9 1.2-.4.4-.8.7-1.2.9-.2.1-.5.2-.7.3-.2.1-.5.2-.7.2-1 .2-2.1.1-3.2-.1-2.2-.3-4.5-1.3-5.8-2.1-3.4-2.1-5.9-3.9-7.6-5.7-.9-.9-1.6-1.8-2.2-2.6-.6-.8-1.1-1.7-1.5-2.5-1.7-3.2-2.4-6.3-6.2-9.4-2.1-1.7-5.2-1.7-8.7.2-1.7.9-3.4 2.4-5.1 4.2-.8.9-1.5 2-2.2 3.1-.7 1.1-1.4 2.3-1.9 3.6-.7 1.4-1.1 2.7-1.4 4-.2.6-.3 1.3-.4 1.9-.1.6-.1 1.3-.2 1.9C0 48 0 49.2.1 50.3c0 .6.1 1.1.2 1.6s.2 1 .4 1.5c1.2 3.8 3.4 6.1 6.1 6.3 4.9.4 7.6-1.2 11.1-2.3 1.7-.6 3.6-1 6.2-1 2.5 0 5.5.4 9.4 1.3 1.5.4 3.7 1.3 5.6 2.6.9.7 1.8 1.4 2.3 2.2.2.4.5 1.1.7 1.6.2.5.2.8.2 1.8 0 0 0 .8-.2 1.3s-.5.8-.7 1.2c-.5.8-1.4 1.5-2.3 2.2-1.8 1.3-4.1 2.2-5.6 2.6-3.9.9-6.9 1.4-9.5 1.3-2.5 0-4.4-.5-6.2-1-3.5-1.1-6.2-2.7-11.1-2.3-2.7.2-4.9 2.5-6.1 6.3-.1.5-.3 1-.4 1.5-.1.5-.2 1-.2 1.6 0 1 0 2.2.1 3.4 0 .6.1 1.2.2 1.9.1.6.2 1.3.4 1.9.3 1.3.7 2.6 1.2 3.9.5 1.3 1.2 2.5 1.9 3.6s1.4 2.2 2.2 3.1c1.6 1.8 3.4 3.3 5.1 4.2 3.5 1.9 6.7 1.9 8.7.2 3.8-3.1 4.5-6.2 6.2-9.5.4-.8.9-1.6 1.5-2.5.6-.9 1.3-1.7 2.2-2.6 1.8-1.8 4.2-3.6 7.6-5.7 1.3-.8 3.6-1.8 5.8-2.1 1.1-.2 2.3-.3 3.2-.1.2 0 .5.1.7.2.2.1.5.2.7.3.5.2.9.5 1.2.9.4.4.7.8.9 1.2.1.2.2.5.3.7.1.2.1.5.2.7.2 1 .1 2.1-.1 3.2-.3 2.2-1.3 4.5-2.1 5.8-2.1 3.4-3.9 5.9-5.7 7.6-.9.9-1.8 1.6-2.6 2.2-.8.6-1.7 1.1-2.5 1.5-3.2 1.7-6.3 2.4-9.4 6.2-1.7 2.1-1.7 5.2.2 8.7.9 1.7 2.4 3.4 4.2 5.1.9.8 2 1.5 3.1 2.2 1.1.7 2.3 1.4 3.6 1.9 1.3.5 2.6.9 3.9 1.2.6.2 1.3.3 1.9.4.6.1 1.3.1 1.9.2 1.2.1 2.4.1 3.5 0 .6 0 1.1-.1 1.6-.2s1-.2 1.5-.4c3.8-1.2 6.1-3.4 6.3-6.1.4-4.9-1.2-7.6-2.3-11.1-.6-1.7-1-3.6-1-6.2 0-2.5.4-5.5 1.3-9.4.4-1.5 1.3-3.7 2.6-5.6.7-.9 1.4-1.8 2.2-2.3.4-.2.6-.5 1.1-.7.5-.2 1.3-.2 1.3-.2 1 0 1.3 0 1.8.2s1.1.5 1.5.7c.8.5 1.6 1.4 2.3 2.3 1.3 1.8 2.3 4.1 2.7 5.6.9 3.9 1.4 6.9 1.3 9.5 0 2.5-.5 4.4-1 6.2-1.1 3.5-2.7 6.2-2.3 11.1.2 2.7 2.5 4.9 6.3 6.1.5.1 1 .3 1.5.4.5.1 1 .2 1.6.2 1.1.1 2.3.1 3.5 0 .6 0 1.2-.1 1.9-.2.6-.1 1.3-.2 1.9-.4 1.3-.3 2.6-.7 3.9-1.2 1.3-.5 2.5-1.2 3.6-1.9s2.2-1.4 3.1-2.2c1.8-1.6 3.3-3.4 4.2-5.1 1.9-3.5 1.9-6.7.2-8.7-3.1-3.8-6.2-4.5-9.5-6.2-.8-.4-1.6-.9-2.5-1.5-.9-.6-1.7-1.3-2.6-2.2-1.8-1.7-3.6-4.2-5.7-7.6-.8-1.3-1.8-3.6-2.1-5.8-.2-1.1-.3-2.3-.1-3.2 0-.2.1-.5.2-.7.1-.2.2-.5.3-.7.2-.5.5-.9.9-1.2.4-.4.8-.7 1.2-.9.2-.1.5-.2.7-.3.2-.1.5-.2.7-.2 1-.2 2.1-.1 3.2.1 2.2.3 4.5 1.3 5.8 2.1 3.4 2.1 5.9 3.9 7.6 5.7.9.9 1.6 1.8 2.2 2.6.6.8 1.1 1.7 1.5 2.5 1.7 3.2 2.4 6.3 6.2 9.4 2.1 1.7 5.2 1.7 8.7-.2 1.7-.9 3.4-2.4 5.1-4.2.8-.9 1.5-2 2.2-3.1.7-1.1 1.4-2.3 1.9-3.6.5-1.3.9-2.6 1.2-3.9.2-.6.3-1.3.4-1.9.1-.6.1-1.3.2-1.9.1-1.2.1-2.4 0-3.5.2-.5.1-1.1 0-1.6zM65.8 65c-.1 0-.1 0 0 0zm-.1 0s-.1.1 0 0c-.1 0-.1 0 0 0zm-.7 0s0 .1 0 0zm0 .1s0 .1 0 0c0 0 .1.1 0 0zm0-.1zm.7.6c0 .1 0 .1 0 0 0 .1 0 .1 0 0-.1.1-.1.1 0 0l-.1.1c0 .1 0 0 0 0h-.2v.2-.4c.1 0-.1-.1 0-.1v-.1h-.2.3c0 .1.1-.1.1 0h.1c.1 0 0 0 0 0v.2c.1 0 .1 0 0 .1 0-.1 0-.1 0 0v-.1.1c0-.1 0-.1 0 0 .1-.1.1 0 0 0 0-.1.1 0 0 0zm.1.2v-.2.2zm-.8-.3z"></path>
        </svg>
        <div>EVENTS</div>
    </a>
    <a class="bottom-item" asp-controller="Resources" asp-action="Index">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1.8696439151252946 -1.9571471918906411 134.6142857142857 134.6142857142857" role="img" preserveAspectRatio="xMidYMid meet">
            <path d="M65 65.8zm65.5 13.1c-.1-.5-.2-1-.4-1.5-1.2-3.8-3.4-6.1-6.1-6.3-4.9-.4-7.6 1.2-11.1 2.3-1.7.6-3.6 1-6.2 1-2.5 0-5.5-.4-9.4-1.3-1.5-.4-3.7-1.3-5.6-2.6-.9-.7-1.8-1.4-2.3-2.2-.2-.4-.5-.6-.7-1.1-.2-.5-.2-1.3-.2-1.3 0-1 0-1.3.2-1.8s.5-1.1.7-1.5c.5-.8 1.4-1.6 2.3-2.3 1.8-1.3 4.1-2.3 5.6-2.7 3.9-.9 6.9-1.4 9.5-1.3 2.5 0 4.4.5 6.2 1 3.5 1.1 6.2 2.7 11.1 2.3 2.7-.2 4.9-2.5 6.1-6.3.1-.5.3-1 .4-1.5.1-.5.2-1 .2-1.6.1-1.1.1-2.3 0-3.5 0-.6-.1-1.2-.2-1.9-.1-.6-.2-1.3-.4-1.9-.3-1.3-.7-2.6-1.2-3.9-.5-1.3-1.2-2.5-1.9-3.6s-1.4-2.2-2.2-3.1c-1.6-1.8-3.4-3.3-5.1-4.2-3.5-1.9-6.7-1.9-8.7-.2-3.8 3.1-4.5 6.2-6.2 9.5-.4.8-.9 1.6-1.5 2.5-.6.9-1.3 1.7-2.2 2.6-1.8 1.8-4.2 3.6-7.6 5.7-1.3.8-3.6 1.8-5.8 2.1-1.1.2-2.3.3-3.2.1-.2 0-.5-.1-.7-.2-.2-.1-.5-.2-.7-.3-.5-.2-.9-.5-1.2-.9-.4-.4-.7-.8-.9-1.2-.1-.2-.2-.5-.3-.7-.1-.2-.2-.5-.2-.7-.2-1-.1-2.1.1-3.2.3-2.2 1.3-4.5 2.1-5.8 2.1-3.4 3.9-5.9 5.7-7.6.9-.9 1.8-1.6 2.6-2.2.8-.6 1.7-1.1 2.5-1.5 3.2-1.7 6.3-2.4 9.4-6.2 1.7-2.1 1.7-5.2-.2-8.7-.9-1.7-2.4-3.4-4.2-5.1-.9-.8-2-1.5-3.1-2.2-1.1-.7-2.3-1.4-3.6-1.9-1.3-.5-2.6-.9-3.9-1.2-.6-.2-1.3-.3-1.9-.4-.6-.1-1.3-.1-1.9-.2-1.2-.1-2.4-.1-3.5 0-.6 0-1.1.1-1.6.2s-1 .2-1.5.4c-3.8 1.2-6.1 3.4-6.3 6.1-.4 4.9 1.2 7.6 2.3 11.1.6 1.7 1 3.6 1 6.2 0 2.5-.4 5.5-1.3 9.4-.4 1.5-1.3 3.7-2.6 5.6-.7.9-1.4 1.8-2.2 2.3-.4.2-1.1.5-1.6.7-.5.2-.8.2-1.8.2 0 0-.8 0-1.3-.2s-.8-.5-1.2-.7c-.8-.5-1.5-1.4-2.2-2.3-1.3-1.8-2.2-4.1-2.6-5.6-.9-3.9-1.4-6.9-1.3-9.5 0-2.5.5-4.4 1-6.2 1.1-3.5 2.7-6.2 2.3-11.1-.2-2.7-2.5-4.9-6.3-6.1-.5-.1-1-.3-1.5-.4-.5-.1-1-.2-1.6-.2C49.2 0 48 0 46.8.1c-.6 0-1.2.1-1.9.2-.6.1-1.3.2-1.9.4-1.3.3-2.6.7-3.9 1.2-1.3.5-2.5 1.2-3.6 1.9S33.3 5.2 32.4 6c-1.8 1.6-3.3 3.4-4.2 5.1-1.9 3.5-1.9 6.7-.2 8.7 3.1 3.8 6.2 4.5 9.5 6.2.8.4 1.6.9 2.5 1.5.9.6 1.7 1.3 2.6 2.2 1.8 1.7 3.6 4.2 5.7 7.6.8 1.3 1.8 3.6 2.1 5.8.2 1.1.3 2.3.1 3.2 0 .2-.1.5-.2.7-.1.2-.2.5-.3.7-.2.5-.5.9-.9 1.2-.4.4-.8.7-1.2.9-.2.1-.5.2-.7.3-.2.1-.5.2-.7.2-1 .2-2.1.1-3.2-.1-2.2-.3-4.5-1.3-5.8-2.1-3.4-2.1-5.9-3.9-7.6-5.7-.9-.9-1.6-1.8-2.2-2.6-.6-.8-1.1-1.7-1.5-2.5-1.7-3.2-2.4-6.3-6.2-9.4-2.1-1.7-5.2-1.7-8.7.2-1.7.9-3.4 2.4-5.1 4.2-.8.9-1.5 2-2.2 3.1-.7 1.1-1.4 2.3-1.9 3.6-.7 1.4-1.1 2.7-1.4 4-.2.6-.3 1.3-.4 1.9-.1.6-.1 1.3-.2 1.9C0 48 0 49.2.1 50.3c0 .6.1 1.1.2 1.6s.2 1 .4 1.5c1.2 3.8 3.4 6.1 6.1 6.3 4.9.4 7.6-1.2 11.1-2.3 1.7-.6 3.6-1 6.2-1 2.5 0 5.5.4 9.4 1.3 1.5.4 3.7 1.3 5.6 2.6.9.7 1.8 1.4 2.3 2.2.2.4.5 1.1.7 1.6.2.5.2.8.2 1.8 0 0 0 .8-.2 1.3s-.5.8-.7 1.2c-.5.8-1.4 1.5-2.3 2.2-1.8 1.3-4.1 2.2-5.6 2.6-3.9.9-6.9 1.4-9.5 1.3-2.5 0-4.4-.5-6.2-1-3.5-1.1-6.2-2.7-11.1-2.3-2.7.2-4.9 2.5-6.1 6.3-.1.5-.3 1-.4 1.5-.1.5-.2 1-.2 1.6 0 1 0 2.2.1 3.4 0 .6.1 1.2.2 1.9.1.6.2 1.3.4 1.9.3 1.3.7 2.6 1.2 3.9.5 1.3 1.2 2.5 1.9 3.6s1.4 2.2 2.2 3.1c1.6 1.8 3.4 3.3 5.1 4.2 3.5 1.9 6.7 1.9 8.7.2 3.8-3.1 4.5-6.2 6.2-9.5.4-.8.9-1.6 1.5-2.5.6-.9 1.3-1.7 2.2-2.6 1.8-1.8 4.2-3.6 7.6-5.7 1.3-.8 3.6-1.8 5.8-2.1 1.1-.2 2.3-.3 3.2-.1.2 0 .5.1.7.2.2.1.5.2.7.3.5.2.9.5 1.2.9.4.4.7.8.9 1.2.1.2.2.5.3.7.1.2.1.5.2.7.2 1 .1 2.1-.1 3.2-.3 2.2-1.3 4.5-2.1 5.8-2.1 3.4-3.9 5.9-5.7 7.6-.9.9-1.8 1.6-2.6 2.2-.8.6-1.7 1.1-2.5 1.5-3.2 1.7-6.3 2.4-9.4 6.2-1.7 2.1-1.7 5.2.2 8.7.9 1.7 2.4 3.4 4.2 5.1.9.8 2 1.5 3.1 2.2 1.1.7 2.3 1.4 3.6 1.9 1.3.5 2.6.9 3.9 1.2.6.2 1.3.3 1.9.4.6.1 1.3.1 1.9.2 1.2.1 2.4.1 3.5 0 .6 0 1.1-.1 1.6-.2s1-.2 1.5-.4c3.8-1.2 6.1-3.4 6.3-6.1.4-4.9-1.2-7.6-2.3-11.1-.6-1.7-1-3.6-1-6.2 0-2.5.4-5.5 1.3-9.4.4-1.5 1.3-3.7 2.6-5.6.7-.9 1.4-1.8 2.2-2.3.4-.2.6-.5 1.1-.7.5-.2 1.3-.2 1.3-.2 1 0 1.3 0 1.8.2s1.1.5 1.5.7c.8.5 1.6 1.4 2.3 2.3 1.3 1.8 2.3 4.1 2.7 5.6.9 3.9 1.4 6.9 1.3 9.5 0 2.5-.5 4.4-1 6.2-1.1 3.5-2.7 6.2-2.3 11.1.2 2.7 2.5 4.9 6.3 6.1.5.1 1 .3 1.5.4.5.1 1 .2 1.6.2 1.1.1 2.3.1 3.5 0 .6 0 1.2-.1 1.9-.2.6-.1 1.3-.2 1.9-.4 1.3-.3 2.6-.7 3.9-1.2 1.3-.5 2.5-1.2 3.6-1.9s2.2-1.4 3.1-2.2c1.8-1.6 3.3-3.4 4.2-5.1 1.9-3.5 1.9-6.7.2-8.7-3.1-3.8-6.2-4.5-9.5-6.2-.8-.4-1.6-.9-2.5-1.5-.9-.6-1.7-1.3-2.6-2.2-1.8-1.7-3.6-4.2-5.7-7.6-.8-1.3-1.8-3.6-2.1-5.8-.2-1.1-.3-2.3-.1-3.2 0-.2.1-.5.2-.7.1-.2.2-.5.3-.7.2-.5.5-.9.9-1.2.4-.4.8-.7 1.2-.9.2-.1.5-.2.7-.3.2-.1.5-.2.7-.2 1-.2 2.1-.1 3.2.1 2.2.3 4.5 1.3 5.8 2.1 3.4 2.1 5.9 3.9 7.6 5.7.9.9 1.6 1.8 2.2 2.6.6.8 1.1 1.7 1.5 2.5 1.7 3.2 2.4 6.3 6.2 9.4 2.1 1.7 5.2 1.7 8.7-.2 1.7-.9 3.4-2.4 5.1-4.2.8-.9 1.5-2 2.2-3.1.7-1.1 1.4-2.3 1.9-3.6.5-1.3.9-2.6 1.2-3.9.2-.6.3-1.3.4-1.9.1-.6.1-1.3.2-1.9.1-1.2.1-2.4 0-3.5.2-.5.1-1.1 0-1.6zM65.8 65c-.1 0-.1 0 0 0zm-.1 0s-.1.1 0 0c-.1 0-.1 0 0 0zm-.7 0s0 .1 0 0zm0 .1s0 .1 0 0c0 0 .1.1 0 0zm0-.1zm.7.6c0 .1 0 .1 0 0 0 .1 0 .1 0 0-.1.1-.1.1 0 0l-.1.1c0 .1 0 0 0 0h-.2v.2-.4c.1 0-.1-.1 0-.1v-.1h-.2.3c0 .1.1-.1.1 0h.1c.1 0 0 0 0 0v.2c.1 0 .1 0 0 .1 0-.1 0-.1 0 0v-.1.1c0-.1 0-.1 0 0 .1-.1.1 0 0 0 0-.1.1 0 0 0zm.1.2v-.2.2zm-.8-.3z"></path>
        </svg>
        <div>RESOURCES</div>
    </a>
    <a class="bottom-item" asp-controller="Home" asp-action="Index">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1.8696439151252946 -1.9571471918906411 134.6142857142857 134.6142857142857" role="img" preserveAspectRatio="xMidYMid meet">
            <path d="M65 65.8zm65.5 13.1c-.1-.5-.2-1-.4-1.5-1.2-3.8-3.4-6.1-6.1-6.3-4.9-.4-7.6 1.2-11.1 2.3-1.7.6-3.6 1-6.2 1-2.5 0-5.5-.4-9.4-1.3-1.5-.4-3.7-1.3-5.6-2.6-.9-.7-1.8-1.4-2.3-2.2-.2-.4-.5-.6-.7-1.1-.2-.5-.2-1.3-.2-1.3 0-1 0-1.3.2-1.8s.5-1.1.7-1.5c.5-.8 1.4-1.6 2.3-2.3 1.8-1.3 4.1-2.3 5.6-2.7 3.9-.9 6.9-1.4 9.5-1.3 2.5 0 4.4.5 6.2 1 3.5 1.1 6.2 2.7 11.1 2.3 2.7-.2 4.9-2.5 6.1-6.3.1-.5.3-1 .4-1.5.1-.5.2-1 .2-1.6.1-1.1.1-2.3 0-3.5 0-.6-.1-1.2-.2-1.9-.1-.6-.2-1.3-.4-1.9-.3-1.3-.7-2.6-1.2-3.9-.5-1.3-1.2-2.5-1.9-3.6s-1.4-2.2-2.2-3.1c-1.6-1.8-3.4-3.3-5.1-4.2-3.5-1.9-6.7-1.9-8.7-.2-3.8 3.1-4.5 6.2-6.2 9.5-.4.8-.9 1.6-1.5 2.5-.6.9-1.3 1.7-2.2 2.6-1.8 1.8-4.2 3.6-7.6 5.7-1.3.8-3.6 1.8-5.8 2.1-1.1.2-2.3.3-3.2.1-.2 0-.5-.1-.7-.2-.2-.1-.5-.2-.7-.3-.5-.2-.9-.5-1.2-.9-.4-.4-.7-.8-.9-1.2-.1-.2-.2-.5-.3-.7-.1-.2-.2-.5-.2-.7-.2-1-.1-2.1.1-3.2.3-2.2 1.3-4.5 2.1-5.8 2.1-3.4 3.9-5.9 5.7-7.6.9-.9 1.8-1.6 2.6-2.2.8-.6 1.7-1.1 2.5-1.5 3.2-1.7 6.3-2.4 9.4-6.2 1.7-2.1 1.7-5.2-.2-8.7-.9-1.7-2.4-3.4-4.2-5.1-.9-.8-2-1.5-3.1-2.2-1.1-.7-2.3-1.4-3.6-1.9-1.3-.5-2.6-.9-3.9-1.2-.6-.2-1.3-.3-1.9-.4-.6-.1-1.3-.1-1.9-.2-1.2-.1-2.4-.1-3.5 0-.6 0-1.1.1-1.6.2s-1 .2-1.5.4c-3.8 1.2-6.1 3.4-6.3 6.1-.4 4.9 1.2 7.6 2.3 11.1.6 1.7 1 3.6 1 6.2 0 2.5-.4 5.5-1.3 9.4-.4 1.5-1.3 3.7-2.6 5.6-.7.9-1.4 1.8-2.2 2.3-.4.2-1.1.5-1.6.7-.5.2-.8.2-1.8.2 0 0-.8 0-1.3-.2s-.8-.5-1.2-.7c-.8-.5-1.5-1.4-2.2-2.3-1.3-1.8-2.2-4.1-2.6-5.6-.9-3.9-1.4-6.9-1.3-9.5 0-2.5.5-4.4 1-6.2 1.1-3.5 2.7-6.2 2.3-11.1-.2-2.7-2.5-4.9-6.3-6.1-.5-.1-1-.3-1.5-.4-.5-.1-1-.2-1.6-.2C49.2 0 48 0 46.8.1c-.6 0-1.2.1-1.9.2-.6.1-1.3.2-1.9.4-1.3.3-2.6.7-3.9 1.2-1.3.5-2.5 1.2-3.6 1.9S33.3 5.2 32.4 6c-1.8 1.6-3.3 3.4-4.2 5.1-1.9 3.5-1.9 6.7-.2 8.7 3.1 3.8 6.2 4.5 9.5 6.2.8.4 1.6.9 2.5 1.5.9.6 1.7 1.3 2.6 2.2 1.8 1.7 3.6 4.2 5.7 7.6.8 1.3 1.8 3.6 2.1 5.8.2 1.1.3 2.3.1 3.2 0 .2-.1.5-.2.7-.1.2-.2.5-.3.7-.2.5-.5.9-.9 1.2-.4.4-.8.7-1.2.9-.2.1-.5.2-.7.3-.2.1-.5.2-.7.2-1 .2-2.1.1-3.2-.1-2.2-.3-4.5-1.3-5.8-2.1-3.4-2.1-5.9-3.9-7.6-5.7-.9-.9-1.6-1.8-2.2-2.6-.6-.8-1.1-1.7-1.5-2.5-1.7-3.2-2.4-6.3-6.2-9.4-2.1-1.7-5.2-1.7-8.7.2-1.7.9-3.4 2.4-5.1 4.2-.8.9-1.5 2-2.2 3.1-.7 1.1-1.4 2.3-1.9 3.6-.7 1.4-1.1 2.7-1.4 4-.2.6-.3 1.3-.4 1.9-.1.6-.1 1.3-.2 1.9C0 48 0 49.2.1 50.3c0 .6.1 1.1.2 1.6s.2 1 .4 1.5c1.2 3.8 3.4 6.1 6.1 6.3 4.9.4 7.6-1.2 11.1-2.3 1.7-.6 3.6-1 6.2-1 2.5 0 5.5.4 9.4 1.3 1.5.4 3.7 1.3 5.6 2.6.9.7 1.8 1.4 2.3 2.2.2.4.5 1.1.7 1.6.2.5.2.8.2 1.8 0 0 0 .8-.2 1.3s-.5.8-.7 1.2c-.5.8-1.4 1.5-2.3 2.2-1.8 1.3-4.1 2.2-5.6 2.6-3.9.9-6.9 1.4-9.5 1.3-2.5 0-4.4-.5-6.2-1-3.5-1.1-6.2-2.7-11.1-2.3-2.7.2-4.9 2.5-6.1 6.3-.1.5-.3 1-.4 1.5-.1.5-.2 1-.2 1.6 0 1 0 2.2.1 3.4 0 .6.1 1.2.2 1.9.1.6.2 1.3.4 1.9.3 1.3.7 2.6 1.2 3.9.5 1.3 1.2 2.5 1.9 3.6s1.4 2.2 2.2 3.1c1.6 1.8 3.4 3.3 5.1 4.2 3.5 1.9 6.7 1.9 8.7.2 3.8-3.1 4.5-6.2 6.2-9.5.4-.8.9-1.6 1.5-2.5.6-.9 1.3-1.7 2.2-2.6 1.8-1.8 4.2-3.6 7.6-5.7 1.3-.8 3.6-1.8 5.8-2.1 1.1-.2 2.3-.3 3.2-.1.2 0 .5.1.7.2.2.1.5.2.7.3.5.2.9.5 1.2.9.4.4.7.8.9 1.2.1.2.2.5.3.7.1.2.1.5.2.7.2 1 .1 2.1-.1 3.2-.3 2.2-1.3 4.5-2.1 5.8-2.1 3.4-3.9 5.9-5.7 7.6-.9.9-1.8 1.6-2.6 2.2-.8.6-1.7 1.1-2.5 1.5-3.2 1.7-6.3 2.4-9.4 6.2-1.7 2.1-1.7 5.2.2 8.7.9 1.7 2.4 3.4 4.2 5.1.9.8 2 1.5 3.1 2.2 1.1.7 2.3 1.4 3.6 1.9 1.3.5 2.6.9 3.9 1.2.6.2 1.3.3 1.9.4.6.1 1.3.1 1.9.2 1.2.1 2.4.1 3.5 0 .6 0 1.1-.1 1.6-.2s1-.2 1.5-.4c3.8-1.2 6.1-3.4 6.3-6.1.4-4.9-1.2-7.6-2.3-11.1-.6-1.7-1-3.6-1-6.2 0-2.5.4-5.5 1.3-9.4.4-1.5 1.3-3.7 2.6-5.6.7-.9 1.4-1.8 2.2-2.3.4-.2.6-.5 1.1-.7.5-.2 1.3-.2 1.3-.2 1 0 1.3 0 1.8.2s1.1.5 1.5.7c.8.5 1.6 1.4 2.3 2.3 1.3 1.8 2.3 4.1 2.7 5.6.9 3.9 1.4 6.9 1.3 9.5 0 2.5-.5 4.4-1 6.2-1.1 3.5-2.7 6.2-2.3 11.1.2 2.7 2.5 4.9 6.3 6.1.5.1 1 .3 1.5.4.5.1 1 .2 1.6.2 1.1.1 2.3.1 3.5 0 .6 0 1.2-.1 1.9-.2.6-.1 1.3-.2 1.9-.4 1.3-.3 2.6-.7 3.9-1.2 1.3-.5 2.5-1.2 3.6-1.9s2.2-1.4 3.1-2.2c1.8-1.6 3.3-3.4 4.2-5.1 1.9-3.5 1.9-6.7.2-8.7-3.1-3.8-6.2-4.5-9.5-6.2-.8-.4-1.6-.9-2.5-1.5-.9-.6-1.7-1.3-2.6-2.2-1.8-1.7-3.6-4.2-5.7-7.6-.8-1.3-1.8-3.6-2.1-5.8-.2-1.1-.3-2.3-.1-3.2 0-.2.1-.5.2-.7.1-.2.2-.5.3-.7.2-.5.5-.9.9-1.2.4-.4.8-.7 1.2-.9.2-.1.5-.2.7-.3.2-.1.5-.2.7-.2 1-.2 2.1-.1 3.2.1 2.2.3 4.5 1.3 5.8 2.1 3.4 2.1 5.9 3.9 7.6 5.7.9.9 1.6 1.8 2.2 2.6.6.8 1.1 1.7 1.5 2.5 1.7 3.2 2.4 6.3 6.2 9.4 2.1 1.7 5.2 1.7 8.7-.2 1.7-.9 3.4-2.4 5.1-4.2.8-.9 1.5-2 2.2-3.1.7-1.1 1.4-2.3 1.9-3.6.5-1.3.9-2.6 1.2-3.9.2-.6.3-1.3.4-1.9.1-.6.1-1.3.2-1.9.1-1.2.1-2.4 0-3.5.2-.5.1-1.1 0-1.6zM65.8 65c-.1 0-.1 0 0 0zm-.1 0s-.1.1 0 0c-.1 0-.1 0 0 0zm-.7 0s0 .1 0 0zm0 .1s0 .1 0 0c0 0 .1.1 0 0zm0-.1zm.7.6c0 .1 0 .1 0 0 0 .1 0 .1 0 0-.1.1-.1.1 0 0l-.1.1c0 .1 0 0 0 0h-.2v.2-.4c.1 0-.1-.1 0-.1v-.1h-.2.3c0 .1.1-.1.1 0h.1c.1 0 0 0 0 0v.2c.1 0 .1 0 0 .1 0-.1 0-.1 0 0v-.1.1c0-.1 0-.1 0 0 .1-.1.1 0 0 0 0-.1.1 0 0 0zm.1.2v-.2.2zm-.8-.3z"></path>
        </svg>
        <div>HOUSING</div>
    </a>
    <a class="bottom-item" asp-controller="Home" asp-action="About">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1.8696439151252946 -1.9571471918906411 134.6142857142857 134.6142857142857" role="img" preserveAspectRatio="xMidYMid meet">
            <path d="M65 65.8zm65.5 13.1c-.1-.5-.2-1-.4-1.5-1.2-3.8-3.4-6.1-6.1-6.3-4.9-.4-7.6 1.2-11.1 2.3-1.7.6-3.6 1-6.2 1-2.5 0-5.5-.4-9.4-1.3-1.5-.4-3.7-1.3-5.6-2.6-.9-.7-1.8-1.4-2.3-2.2-.2-.4-.5-.6-.7-1.1-.2-.5-.2-1.3-.2-1.3 0-1 0-1.3.2-1.8s.5-1.1.7-1.5c.5-.8 1.4-1.6 2.3-2.3 1.8-1.3 4.1-2.3 5.6-2.7 3.9-.9 6.9-1.4 9.5-1.3 2.5 0 4.4.5 6.2 1 3.5 1.1 6.2 2.7 11.1 2.3 2.7-.2 4.9-2.5 6.1-6.3.1-.5.3-1 .4-1.5.1-.5.2-1 .2-1.6.1-1.1.1-2.3 0-3.5 0-.6-.1-1.2-.2-1.9-.1-.6-.2-1.3-.4-1.9-.3-1.3-.7-2.6-1.2-3.9-.5-1.3-1.2-2.5-1.9-3.6s-1.4-2.2-2.2-3.1c-1.6-1.8-3.4-3.3-5.1-4.2-3.5-1.9-6.7-1.9-8.7-.2-3.8 3.1-4.5 6.2-6.2 9.5-.4.8-.9 1.6-1.5 2.5-.6.9-1.3 1.7-2.2 2.6-1.8 1.8-4.2 3.6-7.6 5.7-1.3.8-3.6 1.8-5.8 2.1-1.1.2-2.3.3-3.2.1-.2 0-.5-.1-.7-.2-.2-.1-.5-.2-.7-.3-.5-.2-.9-.5-1.2-.9-.4-.4-.7-.8-.9-1.2-.1-.2-.2-.5-.3-.7-.1-.2-.2-.5-.2-.7-.2-1-.1-2.1.1-3.2.3-2.2 1.3-4.5 2.1-5.8 2.1-3.4 3.9-5.9 5.7-7.6.9-.9 1.8-1.6 2.6-2.2.8-.6 1.7-1.1 2.5-1.5 3.2-1.7 6.3-2.4 9.4-6.2 1.7-2.1 1.7-5.2-.2-8.7-.9-1.7-2.4-3.4-4.2-5.1-.9-.8-2-1.5-3.1-2.2-1.1-.7-2.3-1.4-3.6-1.9-1.3-.5-2.6-.9-3.9-1.2-.6-.2-1.3-.3-1.9-.4-.6-.1-1.3-.1-1.9-.2-1.2-.1-2.4-.1-3.5 0-.6 0-1.1.1-1.6.2s-1 .2-1.5.4c-3.8 1.2-6.1 3.4-6.3 6.1-.4 4.9 1.2 7.6 2.3 11.1.6 1.7 1 3.6 1 6.2 0 2.5-.4 5.5-1.3 9.4-.4 1.5-1.3 3.7-2.6 5.6-.7.9-1.4 1.8-2.2 2.3-.4.2-1.1.5-1.6.7-.5.2-.8.2-1.8.2 0 0-.8 0-1.3-.2s-.8-.5-1.2-.7c-.8-.5-1.5-1.4-2.2-2.3-1.3-1.8-2.2-4.1-2.6-5.6-.9-3.9-1.4-6.9-1.3-9.5 0-2.5.5-4.4 1-6.2 1.1-3.5 2.7-6.2 2.3-11.1-.2-2.7-2.5-4.9-6.3-6.1-.5-.1-1-.3-1.5-.4-.5-.1-1-.2-1.6-.2C49.2 0 48 0 46.8.1c-.6 0-1.2.1-1.9.2-.6.1-1.3.2-1.9.4-1.3.3-2.6.7-3.9 1.2-1.3.5-2.5 1.2-3.6 1.9S33.3 5.2 32.4 6c-1.8 1.6-3.3 3.4-4.2 5.1-1.9 3.5-1.9 6.7-.2 8.7 3.1 3.8 6.2 4.5 9.5 6.2.8.4 1.6.9 2.5 1.5.9.6 1.7 1.3 2.6 2.2 1.8 1.7 3.6 4.2 5.7 7.6.8 1.3 1.8 3.6 2.1 5.8.2 1.1.3 2.3.1 3.2 0 .2-.1.5-.2.7-.1.2-.2.5-.3.7-.2.5-.5.9-.9 1.2-.4.4-.8.7-1.2.9-.2.1-.5.2-.7.3-.2.1-.5.2-.7.2-1 .2-2.1.1-3.2-.1-2.2-.3-4.5-1.3-5.8-2.1-3.4-2.1-5.9-3.9-7.6-5.7-.9-.9-1.6-1.8-2.2-2.6-.6-.8-1.1-1.7-1.5-2.5-1.7-3.2-2.4-6.3-6.2-9.4-2.1-1.7-5.2-1.7-8.7.2-1.7.9-3.4 2.4-5.1 4.2-.8.9-1.5 2-2.2 3.1-.7 1.1-1.4 2.3-1.9 3.6-.7 1.4-1.1 2.7-1.4 4-.2.6-.3 1.3-.4 1.9-.1.6-.1 1.3-.2 1.9C0 48 0 49.2.1 50.3c0 .6.1 1.1.2 1.6s.2 1 .4 1.5c1.2 3.8 3.4 6.1 6.1 6.3 4.9.4 7.6-1.2 11.1-2.3 1.7-.6 3.6-1 6.2-1 2.5 0 5.5.4 9.4 1.3 1.5.4 3.7 1.3 5.6 2.6.9.7 1.8 1.4 2.3 2.2.2.4.5 1.1.7 1.6.2.5.2.8.2 1.8 0 0 0 .8-.2 1.3s-.5.8-.7 1.2c-.5.8-1.4 1.5-2.3 2.2-1.8 1.3-4.1 2.2-5.6 2.6-3.9.9-6.9 1.4-9.5 1.3-2.5 0-4.4-.5-6.2-1-3.5-1.1-6.2-2.7-11.1-2.3-2.7.2-4.9 2.5-6.1 6.3-.1.5-.3 1-.4 1.5-.1.5-.2 1-.2 1.6 0 1 0 2.2.1 3.4 0 .6.1 1.2.2 1.9.1.6.2 1.3.4 1.9.3 1.3.7 2.6 1.2 3.9.5 1.3 1.2 2.5 1.9 3.6s1.4 2.2 2.2 3.1c1.6 1.8 3.4 3.3 5.1 4.2 3.5 1.9 6.7 1.9 8.7.2 3.8-3.1 4.5-6.2 6.2-9.5.4-.8.9-1.6 1.5-2.5.6-.9 1.3-1.7 2.2-2.6 1.8-1.8 4.2-3.6 7.6-5.7 1.3-.8 3.6-1.8 5.8-2.1 1.1-.2 2.3-.3 3.2-.1.2 0 .5.1.7.2.2.1.5.2.7.3.5.2.9.5 1.2.9.4.4.7.8.9 1.2.1.2.2.5.3.7.1.2.1.5.2.7.2 1 .1 2.1-.1 3.2-.3 2.2-1.3 4.5-2.1 5.8-2.1 3.4-3.9 5.9-5.7 7.6-.9.9-1.8 1.6-2.6 2.2-.8.6-1.7 1.1-2.5 1.5-3.2 1.7-6.3 2.4-9.4 6.2-1.7 2.1-1.7 5.2.2 8.7.9 1.7 2.4 3.4 4.2 5.1.9.8 2 1.5 3.1 2.2 1.1.7 2.3 1.4 3.6 1.9 1.3.5 2.6.9 3.9 1.2.6.2 1.3.3 1.9.4.6.1 1.3.1 1.9.2 1.2.1 2.4.1 3.5 0 .6 0 1.1-.1 1.6-.2s1-.2 1.5-.4c3.8-1.2 6.1-3.4 6.3-6.1.4-4.9-1.2-7.6-2.3-11.1-.6-1.7-1-3.6-1-6.2 0-2.5.4-5.5 1.3-9.4.4-1.5 1.3-3.7 2.6-5.6.7-.9 1.4-1.8 2.2-2.3.4-.2.6-.5 1.1-.7.5-.2 1.3-.2 1.3-.2 1 0 1.3 0 1.8.2s1.1.5 1.5.7c.8.5 1.6 1.4 2.3 2.3 1.3 1.8 2.3 4.1 2.7 5.6.9 3.9 1.4 6.9 1.3 9.5 0 2.5-.5 4.4-1 6.2-1.1 3.5-2.7 6.2-2.3 11.1.2 2.7 2.5 4.9 6.3 6.1.5.1 1 .3 1.5.4.5.1 1 .2 1.6.2 1.1.1 2.3.1 3.5 0 .6 0 1.2-.1 1.9-.2.6-.1 1.3-.2 1.9-.4 1.3-.3 2.6-.7 3.9-1.2 1.3-.5 2.5-1.2 3.6-1.9s2.2-1.4 3.1-2.2c1.8-1.6 3.3-3.4 4.2-5.1 1.9-3.5 1.9-6.7.2-8.7-3.1-3.8-6.2-4.5-9.5-6.2-.8-.4-1.6-.9-2.5-1.5-.9-.6-1.7-1.3-2.6-2.2-1.8-1.7-3.6-4.2-5.7-7.6-.8-1.3-1.8-3.6-2.1-5.8-.2-1.1-.3-2.3-.1-3.2 0-.2.1-.5.2-.7.1-.2.2-.5.3-.7.2-.5.5-.9.9-1.2.4-.4.8-.7 1.2-.9.2-.1.5-.2.7-.3.2-.1.5-.2.7-.2 1-.2 2.1-.1 3.2.1 2.2.3 4.5 1.3 5.8 2.1 3.4 2.1 5.9 3.9 7.6 5.7.9.9 1.6 1.8 2.2 2.6.6.8 1.1 1.7 1.5 2.5 1.7 3.2 2.4 6.3 6.2 9.4 2.1 1.7 5.2 1.7 8.7-.2 1.7-.9 3.4-2.4 5.1-4.2.8-.9 1.5-2 2.2-3.1.7-1.1 1.4-2.3 1.9-3.6.5-1.3.9-2.6 1.2-3.9.2-.6.3-1.3.4-1.9.1-.6.1-1.3.2-1.9.1-1.2.1-2.4 0-3.5.2-.5.1-1.1 0-1.6zM65.8 65c-.1 0-.1 0 0 0zm-.1 0s-.1.1 0 0c-.1 0-.1 0 0 0zm-.7 0s0 .1 0 0zm0 .1s0 .1 0 0c0 0 .1.1 0 0zm0-.1zm.7.6c0 .1 0 .1 0 0 0 .1 0 .1 0 0-.1.1-.1.1 0 0l-.1.1c0 .1 0 0 0 0h-.2v.2-.4c.1 0-.1-.1 0-.1v-.1h-.2.3c0 .1.1-.1.1 0h.1c.1 0 0 0 0 0v.2c.1 0 .1 0 0 .1 0-.1 0-.1 0 0v-.1.1c0-.1 0-.1 0 0 .1-.1.1 0 0 0 0-.1.1 0 0 0zm.1.2v-.2.2zm-.8-.3z"></path>
        </svg>
        <div>ABOUT US</div>
    </a>
</div>