@{
    ViewData["Title"] = "Home Page";
}

@section Head
{
    <style>
    #content {
        color: rgb(20, 100, 47);
    }

    #photo-header {
        width: 976px;
        height: 238px;
    }

    #mission-statement {
        font-size: 1.1em;
        width: calc(50% + 130px);
        margin: 2.8em auto 2.2em auto;
        text-align: center;
    }

    #intro {
        margin-top: 3.2em;
    }

    @@media only screen and (max-width: 820px) {
        #photo-header {
            width: 372px !important;
            height: inherit;
        }

        #photo-0 {
            display: none;
        }
    }

    @@media only screen and (max-width: 1236px) {
        #photo-header {
            width: 663px;
        }

        #photo-2 {
            display: none;
        }
    }
    </style>
}


<div id="photo-header">
    <img id="photo-0" src="~/images/home/handPaintGirl1.jpg" alt="fun girl with paint on her hands" />
    <img id="photo-1" src="~/images/home/handPaintGirl2.jpg" alt="fun girl with paint on her hands" />
    <img id="photo-2" src="~/images/home/handPaintGirl3.jpg" alt="fun girl with paint on her hands" />
</div>

    <div id="mission-statement">
        <p>
            PC2's mission: <br />
            <em>
                &quot;Empowering individuals with developmental disabilities and
                their families.&quot;
            </em>
        </p>
        <br />
        <p>
            PC2's vision: <br />
            <em>
                &quot;All people with developmental disabilities have access<br />
                to the services and programs that meet their needs.&quot;
            </em>
        </p>
    </div>
    <div class="divider"></div>
    <div class="left-column">
        <ul>
            <li>Provides resource links and follow-up/follow-along services for families.</li>
            <li>Publishes a quarterly newsletter with relevant articles and information.</li>
            <li>Creates and distributes a comprehensive Resource Guide for Pierce County.</li>
            <li>
                Conducts educational meetings on a variety of topics from birth to three
                services, housing/residential issues, transition from high school to adult services,
                employment, legal overviews, and more.
            </li>
            <li>Provides information at resource and vendor fairs throughout the county.</li>
        </ul>
    </div>
    <div class="right-column">
        <ul>
            <li>
                Provides a Home Ownership Down Payment Assistance Program for individuals
                with developmental disabilities and their families.
            </li>
            <li>
                Co-hosts an annual Legislative Forum for constituents to meet and speak
                with their elected officials.
            </li>
            <li>
                Provides information on how the legislative process works and how your
                voice can make a difference.
            </li>
            <li>
                Shows you how you can connect with legislators and how to advocate for yourself.
            </li>
            <li>Helps families - like yours - find their voice.</li>
        </ul>
    </div>