@{
    ViewData["Title"] = "Partners 4 Housing";
}

<h1>@ViewData["Title"]</h1>

<div class="divider"></div>

<p class="mb-3">
    Sign up for a <b>free</b> Residential Assessment (RA) at: <a href="https://signup.partners4housing.com/promo/WAPC2">partners4housing.com</a>
</p>

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ljQOB3bCvbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<p class="mb-3">
    PC2 is excited to announce that we are partnering with Partners4Housing to provide FREE Residential Assessments (RAs) to local families, courtesy of the Dan Thompson Memorial Fund.
</p>

<p class="mb-3">
    Completing this RA will help your family explore housing possibilities for your loved one and make a resilient plan for the future.
</p>

<p class="mb-3">
The RA starts with an online questionnaire, where you and your loved one answer questions about their needs and current benefits and define your vision of “home.”
</p>

<p class="mb-3">
    After completing the questions, you’ll meet online with a trained Solutions Coordinator.
</p>

<p>
    They will help you understand how to access all the benefits your loved one is eligible for, including Section 8 vouchers, so you can start planning for your loved one’s future housing needs.
</p>