@{
    ViewData["Title"] = "Person-Centered Planning";
}

<h1>Person Centered Planning</h1>
<div class="divider"></div>
<img class="d-block mx-auto" src="~/images/OtherPrograms/PersonCenteredPlanning.jpeg" alt="Person Centered Planning information flyer" />