@{
    ViewData["Title"] = "Person-Centered Planning";
}

<h1>Person Centered Planning</h1>
<div class="divider"></div>
<img class="d-block mx-auto" src="~/images/OtherPrograms/PersonCenteredPlanning.jpeg" alt="Person Centered Planning information flyer" />

<div class="mt-4 text-center">
    <h2>Contact Information</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p>For more information about Person-Centered Planning:</p>
            <p>
                <strong>Phone:</strong> <a href="tel:2535640707">253.564.0707</a>
            </p>
            <p>
                <strong>Email:</strong> <a href="mailto:info@pc2online.org">info@pc2online.org</a>
            </p>
        </div>
    </div>
</div>