@model PC2.Models.EventsModel
@{
    ViewData["Title"] = "Events";
}
<div class="d-flex justify-content-center">
    <img src=~/images/events/events1.jpg />
    <img src=~/images/events/events2.jpg />
    <img src=~/images/events/events3.jpg />
    <img src=~/images/events/events4.jpg />
</div>
<br />
<div class="d-flex justify-content-center">
    <h1>EVENTS</h1>
</div>

<div class="divider"></div>

<br />

<p class="d-flex justify-content-center">There are always great events and activities to attend around the County!</p>

<br />

<a class="d-flex justify-content-center" asp-action="EventsAndActivities">Click here for PC2 hosted and partnered events.</a>

<br />

<a class="d-flex justify-content-center" asp-action="CountyWideEventsAndActivities" >Click here for county-wide events and meetings.</a>