@section head {
    <link rel="stylesheet" type="text/css" href="~/css/news.css" />
}
@{
    ViewData["Title"] = "News";
}

<div class="d-flex justify-content-center">
    <img src="~/images/news/news1.jpg" />
    <img src="~/images/news/news2.jpg" />
    <img src="~/images/news/news3.jpg" />
    <img src="~/images/news/news4.jpg" />
</div>
<br />
<h1>@ViewData["Title"]</h1>

<div class="divider"></div>

<div class="d-flex justify-content-center">
    <img src="~/images/news/information.jpg" />
</div>

<div class="content">
    <br />
    <br />
    <br />
    <br />
    <h2>Informing Families video series:</h2>
    <br />
    &emsp;<a href="https://informingfamilies.org/care-video/">Understanding Your DDA Care Assessment</a>
    <br />
    &emsp;<a href="https://informingfamilies.org/everyone-wins/">Everyone Wins When Everyone's Included</a>
    <br />
    &emsp;<a href="https://informingfamilies.org/family-day/">Standing Strong for Families</a>
    <br />
    &emsp;<a href="https://informingfamilies.org/just-like-you/">Just Like You</a>
    <br />
    <br />
    <p>Other Videos: <a href="https://informingfamilies.org/category/videos">https://informingfamilies.org/category/videos</a></p>
</div>