@section head {
    <link rel="stylesheet" type="text/css" href="~/css/news.css" />
}
@{
    ViewData["Title"] = "News To Know";
}

<div class="d-flex justify-content-center">
    <img src="~/images/news/news1.jpg" />
    <img src="~/images/news/news2.jpg" />
    <img src="~/images/news/news3.jpg" />
    <img src="~/images/news/news4.jpg" />
</div>
<br />
<h1>@ViewData["Title"]</h1>

<div class="divider"></div>

<div class="d-flex justify-content-center">
    <img src="~/images/news/information.jpg" />
</div>

<div class="content">
    <br />
    <br />
    <h2>COVID-19 Vaccine Information, Pierce County, Washington</h2>
    <br />
    <h2>For more information, please visit:  </h2>
    <a href=" https://www.tpchd.org/healthy-people/diseases/covid-19/covid-19-vaccine-information">Tacoma-Pierce County Health Department</a>
    <br />
    <br />
    <p>You can use the state's <a href="https://vaccinelocator.doh.wa.gov/">Vaccine Locator Tool</a> to find nearby healthcare providers
        and pharmacies who can provide the vaccine.</p>
    <br />
    <p>Have questions? Need help? Call us at <a href="tel:2536491412">(253) 649-1412</a>, 8a.m. to 4:30 p.m., 7 days a week.</p>
    <br />
    <p>Need help finding a vaccine?</p>
    <br />
    <p>We can help find:</p>
    <p>&emsp;Pfizer, Moderna and Johnson & Johnson vaccine. </p>
    <p>&emsp;First and second doses. </p>
    <p>&emsp;Appointments at healthcare facilities, pharmacies and vaccine events. </p>
    <p>&emsp;Walk-up and drive-thru events. </p>
    <p>&emsp;Help with transportation to appointments and events. </p>
    <p>&emsp;Mobility assistance and language support at appointments and events.</p>
    <p>&emsp;In-home vaccine for people who can't easily leave home.</p>
    <p>&emsp;Need a free ride to a COVID-19 vaccine event?</p>
    <p>&emsp;Around the Sound provides transportation for people with limited mobility, including those who use wheelchairs or</p> 
    <p>&emsp;&nbsp;scooters. Call <a href="tel:2538587088">(253) 858-7088</a> or visit <a href="https://atstrans.org">atstrans.org</a>.</p>
    <p>&emsp;Pierce Transit gives free bus rides to people going to vaccine appointments or volunteering at vaccine events.</p>
    <br />
    <p>Call <a href="tel:2535818000">(253) 581-8000</a> (press 1, then press 1 again) or visit <a href="http://www.piercetransit.org">www.piercetransit.org</a>.</p>
    <br />
    <p>Uber and Lyft can also provide rides to and from vaccine events. Call the state COVID-19 information hotline at <a href="tel:8338294357">(833) VAX-HELP</a> for that service.</p>
    <br />
    <p>
    <p>Can't easily leave home and need help getting a vaccine?  We can help! Call us at <a href="tel:2536491412">(253) 649-1412</a>, 8 a.m. to 4:30 p.m., 7 days a week.</p>
    <br />
    <br />
    <br />
    <br />
    <h2>Informing Families video series:</h2>
    <br />
    &emsp;<a href="https://informingfamilies.org/care-video/">Understanding Your DDA Care Assessment</a>
    <br />
    &emsp;<a href="https://informingfamilies.org/everyone-wins/">Everyone Wins When Everyone's Included</a>
    <br />
    &emsp;<a href="https://informingfamilies.org/family-day/">Standing Strong for Families</a>
    <br />
    &emsp;<a href="https://informingfamilies.org/just-like-you/">Just Like You</a>
    <br />
    <br />
    <p>Other Videos: <a href="https://informingfamilies.org/category/videos">https://informingfamilies.org/category/videos</a></p>
</div>